
@{
    ViewBag.Title = "About_us";
}

<html>
<head lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Design/About/Team.css" rel="stylesheet" />
    <link href="~/Design/About/About.css" rel="stylesheet" />
</head>


<body>


    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title">About Jubilation</span>
                            <h2>India's Youngest And Sassiest Event industry portal</h2>
                        </div>
                        <div class="text">
                            India's Youngest And Sassiest wedding industry portal Says Hello.
                            We Have Carefully Curated A Selected List Of Award Winning Wedding Photographer, Lehenga 
                            Designers, Décor Artists, Caterers, Bridal Make Up And Jewellery Artists With A Dozen Other 
                            Categories To Make Sure Your Search For The Most Reliable And Stylish Wedding Planning Partner 
                            Ends Here. Strategically Divided Into Four Categories Of Wedding Partners, We Have Made Sure You 
                            Only Search What's Relevant To You But Still Catering To Every Kind Of Dreams.
                            Come Let's Plan The Most Effing Amazing Shaadi Of The Season!
                        </div>
                        <ul class="list-style-one">
                            <li>" Your vision. Our innovation: Event solutions"</li>
                            <li>"True love stories never have endings." </li>
                            <li>"Life is an event. Make it memorable"</li>
                        </ul>                     
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                        <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="~/image/About/Dulhan.jpg" /></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="container">
        <div class="row">
            <center><h2>Our Team</h2></center>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/image/About/signal-2023-02-07-135949_002.png" alt="team member" class="img-responsive"/>
                    </div>
                    <div class="content">
                        <h3 class="title">Meet Makavana</h3>
                        <span class="post">CEO</span>
                        <ul class="social">
                            <li><a href="https://wa.me/919909440794?text=hello%20Mr.Meet" class="fa fa-whatsapp"></a></li>
                            <li><a href="https://instagram.com/mr_prime_1229?igshid=Yzg5MTU1MDY=" class="fa fa-instagram"></a></li>
                            <li><a href="https://www.linkedin.com/in/meet-patel-18a52b247" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/image/About/gopi.png" alt="team member" class="img-responsive"/>
                    </div>
                    <div class="content">
                        <h3 class="title">Gopika Rupapara</h3>
                        <span class="post">Founder and Director</span>
                        <ul class="social">
                            <li><a href="https://wa.me/919099039298?text=hello%20Ms.Gopika" class="fa fa-whatsapp" target="_blank"></a></li>
                            <li><a href="https://instagram.com/gopi_rupapara?igshid=Yzg5MTU1MDY=" class="fa fa-instagram"></a></li>
                            <li><a href="https://www.linkedin.com/in/gopika-rupapara-409282265" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="~/image/About/IMG_20220222_135601_786.jpg" alt="team member" class="img-responsive" />
                    </div>
                    <div class="content">
                        <h3 class="title">Dinal Bhimani</h3>
                        <span class="post">Director</span>
                        <ul class="social">
                            <li><a href="https://wa.me/919558895097?text=hello%20Ms.Dinal" class="fa fa-whatsapp"></a></li>
                            <li><a href="https://instagram.com/_dinu_bhimani?igshid=Yzg5MTU1MDY=" class="fa fa-instagram"></a></li>
                            <li><a href="https://www.linkedin.com/in/dinal-bhimani-89a962209" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
