
@{
    ViewBag.Title = "Blog1";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<h2>Blog1</h2>


<head>
    <link href="~/Design/Blog/all.min.css" rel="stylesheet" />
    <link href="~/Design/Blog/iconic.min.css" rel="stylesheet" />
    <link href="~/Design/Blog/select2.min.css" rel="stylesheet" />
    <link href="~/Design/Blog/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Design/Blog/dashforge.css" rel="stylesheet" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109926635-1">
    </script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-109926635-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="p:domain_verify" content="f07fc61468bd085d9f2bac8202440b51" />
    <link rel="shortcut icon" type="image/x-icon" href="../assets/image/favicon.ico" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-109926635-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="home-body">
    <style>
        .input-group-text {
            display: flex;
            align-items: center;
            padding: 0.46875rem 0.625rem;
            margin-bottom: 0;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            color: #e72e77;
            text-align: center;
            white-space: nowrap;
            background-color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 0.25rem;
        }

        .input-group {
            width: auto;
        }

        div#listArea {
            position: absolute;
            width: 275px;
            right: 0px;
            top: 32px;
            background: #ffffff;
        }

        ul.list-style-none {
            margin-inline-start: 0px;
            padding-inline-start: 0px;
            list-style: none;
        }
    </style>

    <!-- navbar -->
    <div class="container">
        <div class="mg-t-100">
            <h1 class="tx-20 tx-bold tx-gray-700 tx-capitalize border-bottom">
                Jubilation Blogs - Wedding Inspiration and Ideas
            </h1>
            <div class="breadcrumb-area mg-b-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style2 mg-b-0">
                        <li class="breadcrumb-item"><a href="../index.html">Home <i class="fa fa-arrow-right"></i></a></li>

                        <li class="breadcrumb-item active" aria-current="page">Jubilation Blogs</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="section mg-t-50">
            <div class="demo-big position-relative" id="macy-container">
                <div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="15-trending-and-unique-wedding-vow-quotes-642.html">
                                <img src="~/image/Blog/1.jpg" alt="15 TRENDING AND UNIQUE WEDDING VOW QUOTES" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">WeddingVows , September 26 2022</h6>

                            <a class="grid-title" href="15-trending-and-unique-wedding-vow-quotes-642.html"><h3 class="tx-18 tx-gray-400 tx-bold">15 Trending And Unique Wedding Vow Quotes</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>If you are getting married, you and your partner must be sharing a special bond. During weddings, especially Christian weddings, wedding vows are of utmost importance. They are a medium to express your love towards your better half. Nowadays, wedding vows are in vogue in Christian weddings and in all&#8230;<br /><a href="15-trending-and-unique-wedding-vow-quotes-642.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="single-dupatta-or-double---the-ultimate-guide-643.html">
                                <img src="~/image/Blog/2.jpg" alt="SINGLE DUPATTA OR DOUBLE – THE ULTIMATE GUIDE" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Bridal Lehenga, September 24 2022</h6>

                            <a class="grid-title" href="single-dupatta-or-double---the-ultimate-guide-643.html"><h3 class="tx-18 tx-gray-400 tx-bold">Single Dupatta Or Double – The Ultimate Guide</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>If you are a bride-to-be, you must have gone through some tough decisions while choosing your wedding outfit, footwear, and jewelry. Congrats on getting so far! But now the next question that pops up in your mind is- Whether to opt for a single dupatta or double dupatta with your&#8230;<br /><a href="single-dupatta-or-double---the-ultimate-guide-643.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="a-guide-to-affordable-honeymoon-destinations-in-thailand-641.html">
                                <img src="~/image/Blog/3.png" alt="A Guide to Affordable Honeymoon Destinations in Thailand" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">honeymoon destination, September 24 2022</h6>

                            <a class="grid-title" href="a-guide-to-affordable-honeymoon-destinations-in-thailand-641.html"><h3 class="tx-18 tx-gray-400 tx-bold">A Guide To Affordable Honeymoon Destinations In Thailand</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Are you looking for a luxurious yet reasonably priced destination for your honeymoon? Dulhaniyaa has your back, so rest assured. Every couple's honeymoon is one of their most cherished moments. Thailand continues to be the top destination for honeymooners searching for an affordable romantic trip.</p><p>Here is a list of some&#8230;<br /><a href="a-guide-to-affordable-honeymoon-destinations-in-thailand-641.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="4-ways-green-colour-can-be-used-in-the-indian-weddings-640.html">
                                <img src="~/image/Blog/4.png" alt="4 ways Green colour can be used in the Indian Weddings" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">green theme, September 23 2022</h6>

                            <a class="grid-title" href="4-ways-green-colour-can-be-used-in-the-indian-weddings-640.html"><h3 class="tx-18 tx-gray-400 tx-bold">4 Ways Green Colour Can Be Used In The Indian Weddings</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Green is considered the colour of life. The color green connotes new beginnings, growth, vivid health, and other concepts pertaining to life, rebirth, and rejuvenation.</p><p>People always want something extravagant and out of the ordinary when it comes to selecting the proper and alluring color theme, whether it be for the&#8230;<br /><a href="4-ways-green-colour-can-be-used-in-the-indian-weddings-640.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="10-mesmerizing-bridal-veil-shots-639.html">
                                <img src="~/image/Blog/5.png" alt="10 MESMERIZING BRIDAL VEIL SHOTS" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">BridalPic, September 23 2022</h6>

                            <a class="grid-title" href="10-mesmerizing-bridal-veil-shots-639.html"><h3 class="tx-18 tx-gray-400 tx-bold">10 Mesmerizing Bridal Veil Shots</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Photographs are a major inspiration to get married! Just kidding. But surely, photographs are one of the reasons why brides like to dress well and look their best. Veils used to be the part and parcel of Indian brides long back. But then, their hype went down for a while.&#8230;<br /><a href="10-mesmerizing-bridal-veil-shots-639.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="planning-your-wedding-without-professionals-follow-these-tips--638.html">
                                <img src="~/image/Blog/6.png" alt="PLANNING YOUR WEDDING WITHOUT PROFESSIONALS? FOLLOW THESE TIPS!" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Wedding Planning, September 22 2022</h6>

                            <a class="grid-title" href="planning-your-wedding-without-professionals-follow-these-tips--638.html"><h3 class="tx-18 tx-gray-400 tx-bold">Planning Your Wedding Without Professionals? Follow These Tips!</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Although the hype about hiring a wedding planner is emerging, still, some old-school couples want to do it their way. Be it hiring a professional wedding planner or planning your wedding on your own, the stress is real. On the one hand, the wedding planners handle everything about your wedding;&#8230;<br /><a href="planning-your-wedding-without-professionals-follow-these-tips--638.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="auspicious-dates-to-say-i-do-in-2023-and-2024-637.html">
                                <img src="~/image/Blog/7.png" alt="Auspicious Dates to Say I Do in 2023 and 2024" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">auspicious dates, September 22 2022</h6>

                            <a class="grid-title" href="auspicious-dates-to-say-i-do-in-2023-and-2024-637.html"><h3 class="tx-18 tx-gray-400 tx-bold">Auspicious Dates To Say I Do In 2023 And 2024</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Are you soon going to be married? Are you looking for wedding date options? We have got you covered, though. Your hunt for the ideal date ends here.</p><p>Finding the ideal wedding date is the first and most important step in arranging the ideal wedding since it allows you to start&#8230;<br /><a href="auspicious-dates-to-say-i-do-in-2023-and-2024-637.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="wedding-outfit-inspirations-for-the-mother-of-the-bride-from-the-wardrobe-of-madhuri-dixit-636.html">
                                <img src="~/image/Blog/8.png" alt="Wedding outfit inspirations for the mother of the bride from the wardrobe of Madhuri Dixit" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">mother of the bride, September 22 2022</h6>

                            <a class="grid-title" href="wedding-outfit-inspirations-for-the-mother-of-the-bride-from-the-wardrobe-of-madhuri-dixit-636.html"><h3 class="tx-18 tx-gray-400 tx-bold">Wedding Outfit Inspirations For The Mother Of The Bride From The Wardrobe Of Madhuri Dixit</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Since the day daughters are born, mothers starts dreaming of witnessing their daughter walk down the aisle. Your mother deserves her fair share of pampering and style on your special day.</p><p>Today, from the wardrobe of the extremely beautiful Madhuri Dixit, we bring you something for your mother"the woman who has&#8230;<br /><a href="wedding-outfit-inspirations-for-the-mother-of-the-bride-from-the-wardrobe-of-madhuri-dixit-636.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="20-trending-bridal-mehndi-themes-to-flaunt-this-season-634.html">
                                <img src="~/image/Blog/9.jpg" alt="20 TRENDING BRIDAL MEHNDI THEMES TO FLAUNT THIS SEASON" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Mehendi Ideas, September 21 2022</h6>

                            <a class="grid-title" href="20-trending-bridal-mehndi-themes-to-flaunt-this-season-634.html"><h3 class="tx-18 tx-gray-400 tx-bold">20 Trending Bridal Mehndi Themes To Flaunt This Season</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Henna is nothing else but pure love. Be it a bride or bridesmaid, mehndi is something that no lady can resist. And for the bride, it is the most essential to cover her hands and feet with mehndi. It has much importance in Indian ceremonies, that's why a whole evening&#8230;<br /><a href="20-trending-bridal-mehndi-themes-to-flaunt-this-season-634.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="how-to-zero-down--minimum-guarantee--to-caterers-633.html">
                                <img src="~/image/Blog/10.jpg" alt="HOW TO ZERO DOWN “MINIMUM GUARANTEE” TO CATERERS" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Wedding Planning, September 21 2022</h6>

                            <a class="grid-title" href="how-to-zero-down--minimum-guarantee--to-caterers-633.html"><h3 class="tx-18 tx-gray-400 tx-bold">How To Zero Down “minimum Guarantee” To Caterers</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about coming to a definite number of guests, we all are in dilemma. As you know that catering in functions is all about the plate&#8230;<br /><a href="how-to-zero-down--minimum-guarantee--to-caterers-633.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="top-10-bridal-outfit-ideas-for-reception-632.html">
                                <img src="~/image/Blog/11.jpg" alt="Top 10 BRIDAL OUTFIT IDEAS FOR RECEPTION" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Dresses for brides , September 20 2022</h6>

                            <a class="grid-title" href="top-10-bridal-outfit-ideas-for-reception-632.html"><h3 class="tx-18 tx-gray-400 tx-bold">Top 10 Bridal Outfit Ideas For Reception</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>So, we guess it's your reception and you are in dilemma as to what to wear on this special day. Indeed, reception is a very important ceremony for both sides, the bride and the groom. It is conducted at a different place than the wedding. Majorly, this is for the&#8230;<br /><a href="top-10-bridal-outfit-ideas-for-reception-632.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="decoding-the-traditions-of-christian-wedding-631.html">
                                <img src="~/image/Blog/12.png" alt="Decoding the Traditions of Christian Wedding" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Christian bride, September 20 2022</h6>

                            <a class="grid-title" href="decoding-the-traditions-of-christian-wedding-631.html"><h3 class="tx-18 tx-gray-400 tx-bold">Decoding The Traditions Of Christian Wedding</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>When we talk about Christian Weddings, our conception of a typical Christian wedding centres on corseted white gowns, an abundance of flowers, and adorable flower girls. Christian weddings are a vision of monochrome subtlety and elegance. However, the situation is slightly different when it comes to Christian weddings in India.&#8230;<br /><a href="decoding-the-traditions-of-christian-wedding-631.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="the-ultimate-guide-to-bridal-belts-630.html">
                                <img src="~/image/Blog/13.jpg" alt="The Ultimate Guide To Bridal Belts" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Bridal Belts, September 20 2022</h6>

                            <a class="grid-title" href="the-ultimate-guide-to-bridal-belts-630.html"><h3 class="tx-18 tx-gray-400 tx-bold">The Ultimate Guide To Bridal Belts</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Every year, trends come and trends go. Most brides do their best research to go with the current fashion, and some create their vogue. The current trend shouts "Belts"! Yes, nowadays, the bridal lehenga is incomplete without a belt. Brides today are opting for bridal belts to complement their lehenga,&#8230;<br /><a href="the-ultimate-guide-to-bridal-belts-630.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="8-modern-bridal-entry-ideas-to-turn-heads-629.html">
                                <img src="~/image/Blog/14.jpg" alt="8 MODERN BRIDAL ENTRY IDEAS TO TURN HEADS" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Bridal Entry, September 19 2022</h6>

                            <a class="grid-title" href="8-modern-bridal-entry-ideas-to-turn-heads-629.html"><h3 class="tx-18 tx-gray-400 tx-bold">8 Modern Bridal Entry Ideas To Turn Heads</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>What is a wedding? It is a coming together of 2 families and 2 souls. In India, a wedding is not a cakewalk. People run here and there to make sure that everything is perfect. In the meanwhile, we have our bride, who is concerned about almost all things. Starting&#8230;<br /><a href="8-modern-bridal-entry-ideas-to-turn-heads-629.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div><div class="demo" macy-complete="1" style="" data-macy-complete="1">
                    <div class="card box-shadow">
                        <figure>
                            <a href="a-to-z-of-indian-bridal-jewelry-628.html">
                                <img src="~/image/Blog/15.jpg" alt="A to Z of Indian Bridal Jewelry" class="img-fit-cover">
                            </a>
                        </figure>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">WeddingJewelry , September 19 2022</h6>

                            <a class="grid-title" href="a-to-z-of-indian-bridal-jewelry-628.html"><h3 class="tx-18 tx-gray-400 tx-bold">A To Z Of Indian Bridal Jewelry</h3></a>
                            <div class="grid-para-content tx-15 tx-gray-700">

                                <p>Indian weddings are a grand affair, and to a bride, her wedding is a very special day. Since there is much hype about weddings, the bride and the groom try to make sure that everything is just perfect. The bride begins to choose her wedding outfit, footwear, and jewelry right&#8230;<br /><a href="a-to-z-of-indian-bridal-jewelry-628.html">Read More&nbsp;&nbsp;	 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
