
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<br />

<link href="~/Design/Blog/Blog.css" rel="stylesheet" />
<br />
<!--cards-->
s
<div class="row p-5">
    <div class="column">
        <div class="card">
            <img src="~/image/Blog/1.jpg" class="img" />
            <a id="aa" class="category" style="color: #777777">WeddingVows,September 26,2022</a>
            <p  class="card-title">
                15 Trending And Unique Wedding Vow Quotes
            </p>
            <p style="color: #777777">If you are getting married, you and your partner must be sharing a special bond. During weddings, especially Christian weddings, wedding vows are of utmost importance. They are a medium to express your love towards your better half. Nowadays, wedding vows are in vogue in Christian weddings and in all&#8230;<br /><a href="15-trending-and-unique-wedding-vow-quotes-642.html">Read More&nbsp;&nbsp;	 </a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/image/Blog/2.jpg" class="img" />
            <a id="aa" class="category" style="color: #777777">Bridal Lehenga, September 24 2022</a>
            <p class="card-title">
                Single Dupatta Or Double – The Ultimate Guide
            </p>
            <p style="color: #777777">If you are a bride-to-be, you must have gone through some tough decisions while choosing your wedding outfit, footwear, and jewelry. Congrats on getting so far! But now the next question that pops up in your mind is- Whether to opt for a single dupatta or double dupatta with your&#8230;<br /><a href="single-dupatta-or-double---the-ultimate-guide-643.html">Read More&nbsp;&nbsp;	 </a></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/image/Blog/4.png" class="img" />
            <a id="aa" class="category" style="color: #777777">green theme, September 23 2022</a>
            <p class="card-title">
                4 Ways Green Colour Can Be Used In The Indian Wedding
            </p>
            <p style="color: #777777">Green is considered the colour of life. The color green connotes new beginnings, growth, vivid health, and other concepts pertaining to life, rebirth, and rejuvenation..&#8230;<br /><a href="4-ways-green-colour-can-be-used-in-the-indian-weddings-640.html">Read More&nbsp;&nbsp;	 </a></p>
        </div>
    </div>
</div>


<!--cards-->
<div class="row p-5">
    <div class="column">
        <div class="card">
            <img src="~/image/Blog/5.png" class="img" />
            <a id="aa" class="category" style="color: #777777">BridalPic, September 23 2022</a>
            <p class="card-title">
                10 Mesmerizing Bridal Veil Shots
            </p>
            <p style="color: #777777">
                Photographs are a major inspiration to get married! Just kidding. But surely, photographs are one of the reasons why brides like to dress well and look their best. Veils used to be the part and parcel of Indian brides long back. But then, their hype went down for a while.&#8230;<br /><a href="10-mesmerizing-bridal-veil-shots-639.html">Read More&nbsp;&nbsp;	 </a>
            </p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/image/Blog/7.png" class="img" />
            <a id="aa" class="category" style="color: #777777">auspicious dates, September 22 2022</a>
            <p class="card-title">
                Auspicious Dates To Say I Do In 2023 And 2024
            </p>
            <p style="color: #777777">
                Are you soon going to be married? Are you looking for wedding date options? We have got you covered, though. Your hunt for the ideal date ends here.
                Finding the ideal wedding date is the first and most important step in arranging the ideal wedding since it allows you to start&#8230;<br /><a href="auspicious-dates-to-say-i-do-in-2023-and-2024-637.html">Read More&nbsp;&nbsp;	 </a>
            </p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/image/Blog/8.png" class="img" />
            <a id="aa" class="category" style="color: #777777">mother of the bride, September 22 2022</a>
            <p class="card-title">
                Wedding Outfit Inspirations For The Mother Of The Bride From The Wardrobe Of Madhuri Dixit
            </p>
            <hr />
            <p style="color: #777777">
                Since the day daughters are born, mothers starts dreaming of witnessing their daughter walk down the aisle. Your mother deserves her fair share of pampering and style on your special day.
                Today, from the wardrobe of the extremely beautiful Madhuri Dixit, we bring you something for your mother"the woman who has&#8230;<br /><a href="wedding-outfit-inspirations-for-the-mother-of-the-bride-from-the-wardrobe-of-madhuri-dixit-636.html">Read More&nbsp;&nbsp;	 </a>
            </p>
        </div>
    </div>
</div>