
@{
    ViewBag.Title = "Blog";
}

<link href="~/Design/Blog/blog.css" rel="stylesheet" />

<br />
<!--cards-->
<div class="row p-5">
    <div class="column">
        <div class="card">
            <img src="https://imgur.com/ylxV3GI.jpg" class="img">
            <a class="category" href="url to buy tickets">Shefa Institute</a>
            <p class="card-title">
                Meet the girls of Shefa Institute
            </p>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://imgur.com/ylxV3GI.jpg" class="img">
            <a class="category" href="url to buy tickets">Shefa Institute</a>
            <p class="card-title">
                Meet the girls of Shefa Institute
            </p>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://imgur.com/ylxV3GI.jpg" class="img">
            <a class="category" href="url to buy tickets">Shefa Institute</a>
            <p class="card-title">
                Meet the girls of Shefa Institute
            </p>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
        </div>
    </div>
</div>


<!--cards-->
<div class="row p-5">
    <div class="column">
        <div class="card">
            <img src="https://imgur.com/ylxV3GI.jpg" class="img">
            <a class="category" href="url to buy tickets">Shefa Institute</a>
            <p class="card-title">
                Meet the girls of Shefa Institute
            </p>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://imgur.com/ylxV3GI.jpg" class="img">
            <a class="category" href="url to buy tickets">Shefa Institute</a>
            <p class="card-title">
                Meet the girls of Shefa Institute
            </p>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://imgur.com/ylxV3GI.jpg" class="img">
            <a class="category" href="url to buy tickets">Shefa Institute</a>
            <p class="card-title">
                Meet the girls of Shefa Institute
            </p>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
        </div>
    </div>
</div>