
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<link href="~/Design/Blog/Blog1.css" rel="stylesheet" />
<br />
<br />
<section class="cards-wrapper">
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>
    </div>
    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>




<section class="cards-wrapper">
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>

    </div>
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>
    </div>
    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>



<section class="cards-wrapper">
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>

    </div>
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="/Contact/View_Blog1" style="--bg-img: url(https://www.dulhaniyaa.com/assets/images/blog_new/0a65abbff28a8760030e774f064f564a.jpg)">
            <div>
                <h5>How To Zero Down “minimum Guarantee” To Caterers</h5>
                <p>Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about...</p>
                <div class="date">6 Oct 2017</div>
                <div class="tags">
                    <div class="tag" src="">View Blog</div>
                </div>
            </div>
        </a>
    </div>
    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>