
@{
    ViewBag.Title = "View_Blog";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<link href="~/Design/Blog/ViewBlog1.css" rel="stylesheet" />
<br />
<br />
<br />


<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Meet Makavana</h2>
            <h5>Creater Date :-) Dec 7, 2017</h5>
            <img  class="gmi" src="~/image/Blog/10.jpg" />
            <p>
                What a week! Eleven mainstage sessions of TED Talks, two sessions of TED Fellows talks, an incredible array of on-site activations, countless Discovery Sessions, parties, dinners and more made TED2022 a triumphant return to Vancouver. The closing session of the conference capped off the week with world-changing ideas from the mountains of Nepal to the Amazon rainforest to Mars and beyond.

                The event: Talks from Session 11 of TED2022, hosted by TED’s Chris Anderson, Helen Walters and Whitney Pennington Rodgers

                When and where: Wednesday, April 14, 2022, at the Vancouver Convention Centre in Vancouver, BC, Canada

                Speakers: Yongey Mingyur Rinpoche, Leo Lanna and Lvcas Fiat, Bryce Dallas Howard, Bedouine, Elon Musk, Shreya Joshi, Michael Schur, Sara Lomelin, Sarah Kay

                Music: With striking vocals and guitar, singer-songwriter Bedouine performed “Nice and Quiet” and “One Of These Days,” fusing her beautiful lyrics and sumptuous melodies.

                Conference wrap-up: Poet Sarah Kay and piano virtuoso Samora Pinderhugh sent the conference off with a stirring tribute to the week through the ideas of paying attention, being astonished and telling about it — inspired by Mary Oliver’s iconic poem “Sometimes.”
            </p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <img class="gmi22" src="~/image/Blog/10.jpg" />
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <img class="gmi22" src="~/image/Blog/10.jpg" />
            <br />
            <img class="gmi22" src="~/image/Blog/10.jpg" />
            <br />
            <img class="gmi22" src="~/image/Blog/10.jpg" />
        </div>
    </div>
</div>
