
@{
    ViewBag.Title = "View_Blog";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<link href="~/Design/Blog/ViewBlog1.css" rel="stylesheet" />
<br />
<br />
<br />


<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>How To Zero Down “minimum Guarantee” To Caterers</h2>
            <h5>Creater Date :-) Dec 7, 2017</h5>
            <img class="gmi" src="~/image/Blog/10.jpg" /><br />
            <p>
                Fixing the number of guests to tell your caterer is certainly not an easy task. It is a pain, we feel you. When we talk about coming to a definite number of guests, we all are in dilemma. As you know that catering in functions is all about the plate number. The cost is counted on a per plate basis, and the caterers ask for a minimum number of plates that they need to prepare. If more guests turn up at the wedding than expected, you pay more for extra plates. And if they are less, you still pay the minimum guarantee promised.  That's where the big problem comes into being. Now that you have invited tons of guests, how to know who will be coming to the wedding, and who will ditch? We have the solution to it. Below are some of the tips that can help you calculate the minimum guarantee for your caterers.
            </p>
            <h5 style="color: #666666;">Finalize Your Guestlist</h5>
            <p>First things first, it's pertinent to finalize the number of guests you are gonna invite to the wedding. After this only, you can come to an approximate number of guests that may attend your wedding. So, first of all, make the complete guest list, and then start following the below steps.</p>
            <center><img src="~/image/Blog/16.jpg" /></center><br />

            <h5 style="color: #666666;">Go For the RSVP System</h5>
            <p>We can't deny the fact that in India, the RSVP system does not work very much, as the guests are not that serious about it. But even if half of them respond, it will greatly help you choose the minimum guarantee. Hearing about the guests from the guests themselves is the perfect way to have a realistic number.</p>
            <center>
                <img src="~/image/Blog/17.jpg" />
            </center><br />

            <h5 style="color: #666666;">Have a Word With Married Couples</h5>
            <p>Experience matters and we can't ignore it. Talking to married couples and understanding how they went about planning their minimum guarantee can assist you drastically. Ask them how many did they expect and how many turned up. This will let you know how short or high your estimate can go.</p>
            <center>
                <img src="~/image/Blog/18.jpg" />
            </center><br />

            <h5 style="color: #666666;">Observe Your Wedding Venue and Dates</h5>
            <p>See if your wedding is taking place on the weekday or weekend, whether most of the guests live in the same city as the wedding is, and how's the weather in those days. All these factors will make an impact on your minimum guarantee decision.</p>
            <center>
                <img src="~/image/Blog/19.jpg" />
            </center><br />

             <h5 style="color: #666666;">Here's The Magical Formula</h5>
             <p>
                 Let's talk scientifically now, and have a look at a formula that can pretty much zero down your minimum guarantee number. Here are the steps-:
             </p>

                 <ol><li>Pen down the total number of guests you have invited, for say, 400.</li><li>Calculate the number of guests that have a high probability of coming, for instance, 300. (Based on the confirmed RSVP list, your immediate family, and prediction)</li><li>The next step is to take 75% of this number to be your minimum guarantee, which comes to 225.&nbsp;</li><li>You can round this up to 250 or let it be as it is. There is a rare chance that more people will pop up than this. So, between 225 and 250 is the number to go with.</li></ol>
           
            <center>
                <img src="~/image/Blog/20.jpg" />
            </center><br />
            <p>These were the 5 magical tips that you can follow to alleviate your tension. It can get a bit tiresome to calculate your minimum guarantee, so share or hand over this responsibility to one of the trusted family members. After all, it's about thousands of rupees! Dulhaniyaa hopes that the above practical ways to calculate the minimum guarantee to give to your caterers are helpful for you. Happy planning to all!</p>


        </div>
    </div>
    <div class="rightcolumn">

        <div class="card">
            <h3>Popular Post</h3>
            <img class="gmi22" src="~/image/Blog/10.jpg" />
            <br />
            <img class="gmi22" src="~/image/Blog/10.jpg" />
            <br />
            <img class="gmi22" src="~/image/Blog/10.jpg" />
        </div>
    </div>
</div>
