
@{
    ViewBag.Title = "Forgot_password";
}



<link href="~/Design/Forgotpass/Fpass.css" rel="stylesheet" />



<style>
    body {
        background-image: url('../../image/background/bg-0.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>


<body>
    <div class="form">
        <div class="form__box">
            <div class="form__left">
                <div class="form__padding"><img class="form__image" src="~/image/forgote_password/Forgot-email-cover.png" /></div>
            </div>
            <div class="form__right">
                <div class="form__padding-right">
                    <form>

                        <h1 class="form__title">Enter your email and we'll send you Otp</h1>
                        <input class="form__email" type="text" placeholder="Email" />

                        <button type="button" id="Prime">@Html.ActionLink("Send otp", "Otp", "Login", new { @id = "Prime2" })</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>