
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<br />
<br />
<br />
<br />

    <link href="~/Design/Login/Profile.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <style>
        #abc {
            height: 580px;
            overflow: auto;
            padding: 10px;
        }
    </style>
    <!-- Navbar top -->
    <div id ="abc">
        <div class="navbar-top">
            <div class="title">
                <h1><b>Profile</b></h1>
            </div>
        </div>
        <!-- End -->
        <!-- Sidenav -->
        <div class="sidenav">
            <div class="profile">
                <img src="~/image/About/Gopika.jpeg"  alt="" width="100" height="100">

                <div class="name">
                    Dinal Bhimani
                </div>
                <div class="job">
                    +91 95588 95097
                </div>
            </div>

            <div class="sidenav-url">
                <div class="url">
                    <a href="#profile">Profile</a>
                    <hr align="center">
                </div>
                <div class="url">
                    <a href="#settings">Edit</a>
                    <hr align="center">
                </div>
            </div>
        </div>
        <!-- End -->
        <!-- Main -->
        <div class="main">
            <h2>IDENTITY</h2>
            <div class="card">
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>: </td>
                                <td>Dinal Bhimani</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>imdezcode@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone No</td>
                                <td>:</td>
                                <td>+91 95588 95097</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>:</td>
                                <td>Bali,,india,peris,maldiv,kanchi,</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- End -->
