``
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}


    <link href="~/Design/Login/Profile.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <style>
        #abc {
            height: 580px;
            overflow: auto;
            padding: 10px;
        }
    </style>
    <!-- Navbar top -->
    <div >
        <div id="navbar-top" style="margin-top:68px;">
            <div id="title">
                <h1 id="h1"><b>Profile</b></h1>
            </div>
        </div>
        <!-- End -->
        <!-- Sidenav -->
        <div id="sidenav" style="margin-top:23px;">
            <div id="profile" >
                <img src="~/image/About/Gopika.jpeg"  alt="" width="100" height="100">

                <div id="name">
                    Dinal Bhimani
                </div>
                <div id="job">
                    +91 95588 95097
                </div>
            </div>

            <div id="sidenav-url">
                <div id="url">
                    <a href="#profile">Profile</a>
                    <hr align="center">
                </div>

                
                <div id="url">
                    <a href="#settings">Edit</a>
                    <hr align="center">
                </div>
            </div>
        </div>
        <!-- End -->
        <!-- Main -->
        <div id="main" style="margin-top:68px;">
            <h2>IDENTITY</h2>
            <div id="card">
                <div id="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>: </td>
                                <td>Dinal Bhimani</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>imdezcode@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone No</td>
                                <td>:</td>
                                <td>+91 95588 95097</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>:</td>
                                <td>Bali,,india,peris,maldiv,kanchi,</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- End -->
