USE [master]
GO
/****** Object:  Database [Jubilation]    Script Date: 07-04-2024 12:45:01 ******/
CREATE DATABASE [Jubilation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Jubilation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Jubilation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Jubilation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Jubilation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Jubilation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Jubilation]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aboutus]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aboutus](
	[aboutId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[Pictures] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Aboutus] PRIMARY KEY CLUSTERED 
(
	[aboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog_Comment]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Comment](
	[Blog_Comment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Blog_Comment_Name] [nvarchar](max) NULL,
	[Blog_Comment_Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Blog_Comment] PRIMARY KEY CLUSTERED 
(
	[Blog_Comment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Blog_Id] [int] IDENTITY(1,1) NOT NULL,
	[Blog_Name] [nvarchar](max) NULL,
	[Blog_Title] [nvarchar](max) NULL,
	[Blog_Description] [nvarchar](max) NULL,
	[Blog_Image] [nvarchar](max) NULL,
	[Blog_Create_Date] [nvarchar](max) NULL,
	[Blog_Update_Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Blog_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](max) NULL,
	[Category_Status] [nvarchar](max) NULL,
	[Category_Create_Date] [nvarchar](max) NULL,
	[Category_Update_Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[City_Id] [int] IDENTITY(1,1) NOT NULL,
	[City_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[City_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Contact_Id] [int] IDENTITY(1,1) NOT NULL,
	[Contact_Name] [nvarchar](max) NULL,
	[Contact_Email] [nvarchar](max) NULL,
	[Contact_PhoneNo] [nvarchar](max) NULL,
	[City_Id] [int] NOT NULL,
	[Contact_Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Contact_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBacks]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBacks](
	[FeedBack_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FeedBack_Email] [nvarchar](max) NULL,
	[FeedBack_Message] [nvarchar](max) NULL,
	[SuccessStory_Create_Date] [nvarchar](max) NULL,
	[SuccessStory_Update_Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FeedBacks] PRIMARY KEY CLUSTERED 
(
	[FeedBack_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registers]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Owner_Name] [nvarchar](max) NULL,
	[Business_Name] [nvarchar](max) NULL,
	[Business_Addres] [nvarchar](max) NULL,
	[GST_NO] [int] NOT NULL,
	[Category] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Email_ID] [nvarchar](max) NULL,
	[Phone_No] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Confirm_Password] [nvarchar](max) NULL,
	[Create_Date] [nvarchar](max) NULL,
	[Update_Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Registers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Role]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Role](
	[Service_Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Role_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Service_Role] PRIMARY KEY CLUSTERED 
(
	[Service_Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Role_Map]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Role_Map](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Services_Id] [int] NOT NULL,
	[Category_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Service_Role_Map] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Services_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Services_Title] [nvarchar](max) NULL,
	[Services_Create_Date] [nvarchar](max) NULL,
	[Services_Update_Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Services_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuccessStories]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuccessStories](
	[SuccessStory_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[SuccessStory_Images] [nvarchar](max) NULL,
	[SuccessStory_Message] [nvarchar](max) NULL,
	[SuccessStory_Create_Date] [nvarchar](max) NULL,
	[SuccessStory_Update_Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SuccessStories] PRIMARY KEY CLUSTERED 
(
	[SuccessStory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[UserRole_Id] [int] IDENTITY(1,1) NOT NULL,
	[UserRole_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.User_Role] PRIMARY KEY CLUSTERED 
(
	[UserRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role_Map]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role_Map](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[UserRole_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User_Role_Map] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](max) NULL,
	[User_Email] [nvarchar](max) NULL,
	[User_PhoneNo] [nvarchar](max) NULL,
	[User_DOB] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[User_GSTNO] [nvarchar](max) NULL,
	[User_ShopName] [nvarchar](max) NULL,
	[User_Address] [nvarchar](max) NULL,
	[User_PinCode] [nvarchar](max) NULL,
	[User_Password] [nvarchar](max) NULL,
	[User_Create_Date] [nvarchar](max) NULL,
	[User_Update_Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vender_Catalog]    Script Date: 07-04-2024 12:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vender_Catalog](
	[Catalog_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Services_Id] [int] NOT NULL,
	[Product_image] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Create_Date] [nvarchar](max) NULL,
	[Update_Date] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vender_Catalog] PRIMARY KEY CLUSTERED 
(
	[Catalog_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User_Role] ON 

INSERT [dbo].[User_Role] ([UserRole_Id], [UserRole_Name]) VALUES (1, N'Admin')
INSERT [dbo].[User_Role] ([UserRole_Id], [UserRole_Name]) VALUES (2, N'Vendor')
INSERT [dbo].[User_Role] ([UserRole_Id], [UserRole_Name]) VALUES (3, N'Visitors')
SET IDENTITY_INSERT [dbo].[User_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Role_Map] ON 

INSERT [dbo].[User_Role_Map] ([Id], [User_Id], [UserRole_Id]) VALUES (5, 1, 1)
INSERT [dbo].[User_Role_Map] ([Id], [User_Id], [UserRole_Id]) VALUES (6, 2, 2)
INSERT [dbo].[User_Role_Map] ([Id], [User_Id], [UserRole_Id]) VALUES (7, 3, 3)
SET IDENTITY_INSERT [dbo].[User_Role_Map] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_Id], [User_Name], [User_Email], [User_PhoneNo], [User_DOB], [ImagePath], [User_GSTNO], [User_ShopName], [User_Address], [User_PinCode], [User_Password], [User_Create_Date], [User_Update_Date]) VALUES (1, N'meet', N'meetmakavana6@gmail.com', N'9909440794', N'09/02/2001', N'https://localhost:44330/image/About/Prime.jpeg', N'954564', N'the one', N'ntg', N'395006', N'Makm9221@', N'09/05/2020', NULL)
INSERT [dbo].[Users] ([User_Id], [User_Name], [User_Email], [User_PhoneNo], [User_DOB], [ImagePath], [User_GSTNO], [User_ShopName], [User_Address], [User_PinCode], [User_Password], [User_Create_Date], [User_Update_Date]) VALUES (2, N'Dinal', N'Dinu@gmail.com', N'9909909909', N'08/08/2002', N'https://localhost:44330/image/About/dinal.jpg', N'984416', N'the tow', N'ntg', N'395006', N'Dinu123', N'09/05/2020', NULL)
INSERT [dbo].[Users] ([User_Id], [User_Name], [User_Email], [User_PhoneNo], [User_DOB], [ImagePath], [User_GSTNO], [User_ShopName], [User_Address], [User_PinCode], [User_Password], [User_Create_Date], [User_Update_Date]) VALUES (3, N'Gopi', N'Gopi@gmail.com', N'9099039298', N'03/04/2000', N'https://localhost:44330/image/About/gopi.png', N'894546', N'the three', N'ntg', N'395006', N'Gopu123', N'09/05/2020', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_City_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_City_Id] ON [dbo].[Contacts]
(
	[City_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Service_Role_Map]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Services_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_Services_Id] ON [dbo].[Service_Role_Map]
(
	[Services_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Services]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Services]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[SuccessStories]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[User_Role_Map]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_Id] ON [dbo].[User_Role_Map]
(
	[UserRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Vender_Catalog]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Services_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_Services_Id] ON [dbo].[Vender_Catalog]
(
	[Services_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 07-04-2024 12:45:01 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Vender_Catalog]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contacts_dbo.Cities_City_Id] FOREIGN KEY([City_Id])
REFERENCES [dbo].[Cities] ([City_Id])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_dbo.Contacts_dbo.Cities_City_Id]
GO
ALTER TABLE [dbo].[Service_Role_Map]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_Role_Map_dbo.Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
GO
ALTER TABLE [dbo].[Service_Role_Map] CHECK CONSTRAINT [FK_dbo.Service_Role_Map_dbo.Categories_Category_Id]
GO
ALTER TABLE [dbo].[Service_Role_Map]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_Role_Map_dbo.Services_Services_Id] FOREIGN KEY([Services_Id])
REFERENCES [dbo].[Services] ([Services_Id])
GO
ALTER TABLE [dbo].[Service_Role_Map] CHECK CONSTRAINT [FK_dbo.Service_Role_Map_dbo.Services_Services_Id]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Services_dbo.Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_dbo.Services_dbo.Categories_Category_Id]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Services_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_dbo.Services_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[SuccessStories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SuccessStories_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[SuccessStories] CHECK CONSTRAINT [FK_dbo.SuccessStories_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[User_Role_Map]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_Role_Map_dbo.User_Role_UserRole_Id] FOREIGN KEY([UserRole_Id])
REFERENCES [dbo].[User_Role] ([UserRole_Id])
GO
ALTER TABLE [dbo].[User_Role_Map] CHECK CONSTRAINT [FK_dbo.User_Role_Map_dbo.User_Role_UserRole_Id]
GO
ALTER TABLE [dbo].[User_Role_Map]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_Role_Map_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[User_Role_Map] CHECK CONSTRAINT [FK_dbo.User_Role_Map_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Vender_Catalog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vender_Catalog_dbo.Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
GO
ALTER TABLE [dbo].[Vender_Catalog] CHECK CONSTRAINT [FK_dbo.Vender_Catalog_dbo.Categories_Category_Id]
GO
ALTER TABLE [dbo].[Vender_Catalog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vender_Catalog_dbo.Services_Services_Id] FOREIGN KEY([Services_Id])
REFERENCES [dbo].[Services] ([Services_Id])
GO
ALTER TABLE [dbo].[Vender_Catalog] CHECK CONSTRAINT [FK_dbo.Vender_Catalog_dbo.Services_Services_Id]
GO
ALTER TABLE [dbo].[Vender_Catalog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vender_Catalog_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Vender_Catalog] CHECK CONSTRAINT [FK_dbo.Vender_Catalog_dbo.Users_User_Id]
GO
USE [master]
GO
