
@{
    ViewBag.Title = "Privacy_Policy";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<br />
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <section id="" class="vendor_slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-container">
                                <div class="index_head amp"><h1 style="text-align:center;"><span>Privacy Policy</span></h1></div>
                                <hr />


                            </div>
                            <div class="col-lg-12 col-xs-12">

                                <p style="text-align: justify;">
                                    Jubilation.com has created Private Policy which is owned and operated by Dulhaniyaa Wedding Network. As a part of our business, we collect certain information from the user which in some instances may be disclosed for the user. To better protect your privacy, we provide this notice explaining our privacy policy & practices and the choices you can make about the way your information is collected and used.
                                    <br />

                                    On Jubilation.com, you may have to provide your details such as Name, address, email address, phone number, etc. The Personal Information is used to customize the content you see, in order to fulfil your requests for certain services, to contact you about our services and you should be benefitted with your desired choice. You can also visit the website without telling us about your identity or revealing any Personal Information about yourself.
                                    <br /> <br />

                                    The protection and privacy of details of our users are our utmost priority and for that our features are designed to protect user’s privacy
                                    <br />
                                    Being a user on our website, your details will not be disclosed to anyone unless you specifically instruct us to withhold dissemination of all such data, search patterns, behaviour analytics, etc. In all other instances, your behaviour on our website will be shared with our affiliates to help them serve you with products, offerings and services they deem best for you.

                                    <br />
                                    We do not disclose your personal information to third party companies except to our vendors/ affiliates and/ or advertisers who are listed with us. To serve your searched requirements, they may call you based on your query or enquiry about the Product/Services
                                    <br />
                                    The option to edit your account information will be provided to you. For security reasons, we will take reasonable steps to verify your identity before providing access or making corrections. We will do take the necessary steps to maintain the security of the data but on Internet, perfect security does not exist, or anywhere in the world! Therefore, you agree that any security breaches beyond the control of our standard security procedures are at your sole risk and discretion.
                                </p>
                            </div>
                            <div class="header-container">
                                <div class="index_head amp">
                                    <h4 style="text-align:center;">
                                        <span>
                                            Changes/ Update on Privacy Policy
                                        </span>
                                    </h4>
                                </div>


                                <p>
                                    If there will be any changes/update on the privacy policy, we will send an email communication about the update in order to make you familiar with our policies. A choice will also be given to you as to whether or not we can use information in this different manner and act accordingly.

                                    <br />
                                    If you have any questions or queries about the privacy policy or your dealing with the website, please email us or contact us at +91 99090350970 or info@Jubilations.com
                                </p>

                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>
