
@{
    ViewBag.Title = "Submit_Wedding";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}
<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="main" role="main">
        <div id="" class="">
            <div class="container">
                <div class="roww" >
                    <div class="col-md-8 offset-2 single-post">
                        <div class="">
                            <h2 style="color: #999999; "><center>Send Us Your Real Wedding Story</center></h2><br />
                            <article class="post-content border bg-light">
                                <div class="videoWrapper">
                                    <!-- Copy & Pasted from YouTube -->
                                    <img src="~/image/Blog/1.jpg" class="img-responsive" style="width:100%;" alt="" />
                                </div>

                                <div>
                                    <div class="col-md-12 list-group-item">
                                        <div class="socialicons mg-t-30">
                                            <p class="tx-16">
                                                Hey  !! <br />

                                                <strong>CONGRATULATIONS!!!</strong>
                                            </p>
                                            <p class="tx-16">
                                                Submit your Beautiful Wedding
                                            </p><p class="tx-16">
                                                Kindly send all the Details in Organised folder via Google link to <a href="mailto:Jubilation@gmail.com" style="color:#e72e77;font-weight:bold">Jubilation@gmail.com</a> <br />

                                                <ul class="steps steps-vertical">
                                                    <li class="step-item">
                                                        <a href="#" class="step-link">
                                                            <span class="step-number">1</span>
                                                            <span class="step-title tx-18 main-color">PERSONAL INFORMATION</span>
                                                        </a>
                                                        <ul>
                                                            <li class="active"><p class="tx-16"><strong>Bride</strong> and <strong>Groom</strong> name & their Instagram ids (if any)</p></li>
                                                            <li class="active"><p class="tx-16"><strong>Phone Number :-</strong></p></li>
                                                
                                                            <li class="active"><p class="tx-16"><strong>Wedding Date :- </strong></p></li>
                                                        </ul>
                                                    </li>
                                                    <li class="step-item">
                                                        <a href="#" class="step-link">
                                                            <span class="step-number">2</span>
                                                            <span class="step-title tx-18 main-color">WEDDING INFORMATION</span>
                                                        </a>
                                                        <ul>
                                                            <li class="active"><p class="tx-16">Mention your <strong>WEDDING CULTURE</strong> :Punjabi, Marwari, Jain, South Indian, Baniya, Christian, Sikh, Rajput, Sindhi, Marathi, Assamese, Kashmiri, Muslim, Haryanvi, Bengali, Gujarati etc</p></li>
                                                            <li class="active"><p class="tx-16"><strong>WEDDING VENUES : </strong>City, State and Country. (Instagram Id- If any)</p></li>
                                                            <li class="active"><p class="tx-16"><strong>WEDDING PHOTOGRAPHER : </strong> Name & Instagram Id</p></li>
                                                        </ul>
                                                    </li>

                                                    <li class="step-item">
                                                        <a href="#" class="step-link">
                                                            <span class="step-number">3</span>
                                                            <span class="step-title tx-18 main-color">WEDDING VENDORS & FUNCTIONS</span>
                                                        </a>
                                                        <ul>
                                                            <li class="active"><p class="tx-16">Mention all WEDDING VENDORS with Name & Instagram id (if any) for Couple : <br /><span class="tx-13 tx-bold">WEDDING OUTFITS,  JEWELLERY DESIGNER,   WEDDING PLANNER,  MAKEUP ARTIST,  WEDDING DECOR,  FLORAL JEWELLERY,  WEDDING ACCESSORY Etc.</span></p></li>
                                                            <li class="active"><p class="tx-16">Mention all Vendor Details according to FUNCTIONS like <strong>MEHENDI, HALDI, COCKTAIL, WEDDING DAY etc.</strong></p></li>
                                                            <li class="active"><p class="tx-16"><strong>WEDDING PHOTOGRAPHER : </strong> Name & Instagram Id</p></li>
                                                        </ul>
                                                    </li>

                                                    <li class="step-item">
                                                        <a href="#" class="step-link">
                                                            <span class="step-number">4</span>
                                                            <span class="step-title tx-18 main-color">WEDDING WRITEUP & PHOTOS</span>
                                                        </a>
                                                        <ul>
                                                            <li class="active">
                                                                <p class="tx-16">
                                                                    Special & highlighting <strong>WRITEUP</strong> about your <strong>WEDDING STORY & WEDDING PLANNING.</strong>
                                                                    </span>
                                                                </p>
                                                            </li>
                                                            <li class="active"><p class="tx-16">Share Minimum 40-60 selected <strong>PROFESSIONAL</strong> images or More in HD quality that you think represent your wedding best. Photos showing the Brides and Groom Full-Length Outfits, Groom Getting Ready, Makeup, Event decor, Floral Arrangements, Unique Props, Photo Booth, Unique Personalised Element, Jewellery etc.</p></li>
                                                            <li class="active">
                                                                <p class="tx-16">
                                                                    Send as many Selected Photographs via <strong>GOOGLE DRIVE LINK</strong> only. The link should not have any private settings and can be opened easily from all email ids. Kindly Share entire data in organised manner.
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>

                                            <p class="tx-16">
                                                There is no Limit on sharing Good pictures with us !<br /><br />

                                                • We will consider all provided details are actual facts & all credits will be mentioned as per our understanding from your Detailed Email .<br /> <br />

                                                <strong>REAL WEDDING Team</strong> will review all pictures and will feature it !!<br /><br />
                                                Feature will be at <a href="../real-wedding/index.html" style="color:#e72e77;font-weight:bold">https://www.Jubilation.com/real-wedding/ </a><br /><br />
                                                Follow <a href="https://www.instagram.com/dulhaniyaa" style="color:#e72e77;font-weight:bold">Jubilation</a> on INSTAGRAM</br/><br /> For Updates on your <strong>WEDDING FEATURE</strong>.
                                                <br /><br />

                                                If your wedding is going to be featured we will get in touch for more information if required !
                                            </p>

                                        </div>
                                    </div>

                                </div>
                            </article>
                        </div>

</div>
</div>
</div>
</div>
</div>
</div>                                           
