
@{
    ViewBag.Title = "Success_Story";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}
<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />
<link href="~/Design/Submit_Wedding/success_story.css" rel="stylesheet" />
<link href="~/Design/Submit_Wedding/icon.css" rel="stylesheet" />
<link href="~/Design/Submit_Wedding/select2.css" rel="stylesheet" />
<link href="~/Design/Submit_Wedding/font.css" rel="stylesheet" />


<br />
<br />
<br />
<br />
<div class="container">
    <div class="mg-t-50">
        <h1 class="tx-20 tx-bold tx-gray-700 tx-capitalize border-bottom">
            Jubilation - Real Weddings
        </h1>

        <h4 class="tx-14 tx-gray-400 tx-capitalize">Showing 21 Real Weddings</h4>
    </div>


    <div class="mg-t-50 row">
        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="love-story--one-of-a-kind.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/1.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/2.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/3.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">124 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/4.jpg"class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Yomesh<span class="weds"><i class="fa fa-heart"></i></span>Manasi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Delhi</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="shivani-weds-karan-grand-indian-wedding-leela-palace-jaipur-.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/5.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/6.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                
                                <img src="~/image/Success_story/7.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">1618 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/8.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Karan<span class="weds"><i class="fa fa-heart"></i></span>Shivani</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Jaipur</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="rana--miheekas-wedding.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/9.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/10.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/11.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">79 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/12.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Rana<span class="weds"><i class="fa fa-heart"></i></span>Miheeka</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Hyderabad</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="salman--sarahs-wedding-in-taj-lands-end-mumbai.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/13.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/14.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/15.jpg"   class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">219 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/16.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Salman<span class="weds"><i class="fa fa-heart"></i></span>Sarah</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Mumbai</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="ssthit--dipikas-wedding-in-holiday-inn-resort-goa.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/17.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/18.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/19.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">99 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/20.jpg"   class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Ssthit<span class="weds"><i class="fa fa-heart"></i></span>Dipika</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Goa</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="vir--abhilashas-wedding.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/21.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/22.jpg"   class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/23.jpg"   class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">28 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/24.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Vir<span class="weds"><i class="fa fa-heart"></i></span>Abhilasha</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Agra</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="sagar--prernas-wedding-in-udman-hotels-ans-resorts-delhi.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/25.jpg"class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/26.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/27.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">30 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/28.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Sagar<span class="weds"><i class="fa fa-heart"></i></span>Prerna</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Delhi</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="aditya--anushkas-wedding-in-shangri-la-new-delhi.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/29.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/30.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/31.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">45 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/32.jpg" class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Aditya<span class="weds"><i class="fa fa-heart"></i></span>Anushka</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Delhi</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="arohit--samridhis-wedding-in-allahabad.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/33.jpg"   class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/34.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/35.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">33 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/36.jpg" class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Arohit<span class="weds"><i class="fa fa-heart"></i></span>Samridhi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Allahabad</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="pulkit--binnys-wedding-in-the-palms-town-and-country-club-gurugram.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/37.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/38.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/39.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">129 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/40.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Pulkit<span class="weds"><i class="fa fa-heart"></i></span>Binny</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Gurgaon</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="karn--aishwaryas-wedding-in-ramada-lucknow.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/41.jpg"   class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/42.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/43.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">63 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/44.jpg" class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Karn<span class="weds"><i class="fa fa-heart"></i></span>Aishwarya</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Lucknow</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="kartik--yashekas-wedding-in-samode-palace-jaipur.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/45.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/46.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/47.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">81 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/48.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Kartik<span class="weds"><i class="fa fa-heart"></i></span>Yasheka</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Jaipur</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="abuzer--safyas-wedding.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/49.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/50.jpg"   class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/51.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">30 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/52.jpg" class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Abuzer<span class="weds"><i class="fa fa-heart"></i></span>Safya </h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Mumbai</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="ishan--akshitas-wedding.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/53.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/54.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/55.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">51 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/56.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Ishan<span class="weds"><i class="fa fa-heart"></i></span>Akshita</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Ludhiana</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="nur--ayeshas-wedding-at-islamic-center-of-long-island-in-westbury-new-york.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/57.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/58.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/59.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">51 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/60.jpg" class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Nur<span class="weds"><i class="fa fa-heart"></i></span>Ayesha</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> New York</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="ashwin--nupurs-wedding-in-pune.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/61.jpg"class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/62.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/63.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">42 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/64.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Ashwin<span class="weds"><i class="fa fa-heart"></i></span>Nupur</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Pune</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="ram--vipras-wedding-in-meerut.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/65.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/66.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/67.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">105 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/68.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Ram<span class="weds"><i class="fa fa-heart"></i></span>Vipra</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Meerut</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="lavish--kanchis-lockdown-wedding.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/69.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/70.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/71.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">15 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/72.jpg"class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Lavish<span class="weds"><i class="fa fa-heart"></i></span>Kanchi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Delhi</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="yash--pallavis-wedding-in-gurgaon.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/73.jpg"class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <img src="~/image/Success_story/74.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/75.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">63 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/76.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Yash<span class="weds"><i class="fa fa-heart"></i></span>Pallavi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Delhi</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="chintan--tapasvis-wedding-at-vishal-lords-inn---gir-forest-gujarat.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/77.jpg"  class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/78.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/79.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">30 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="~/image/Success_story/80.jpg"  class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Chintan<span class="weds"><i class="fa fa-heart"></i></span>Tapasvi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Gujarat</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 mg-b-50" style="">
            <div class="grid-area pd-2 border box-shadow bg-white">
                <a href="yogesh--palaks-wedding-in-taj-chandigarh.html">
                    <div class="image-area w-100 position-relative row mg-l-0 mg-r-0">
                        <div class="backimg bgimg col-md-9 pd-l-0 pd-r-0" data-src="">
                            <img src="~/image/Success_story/81.jpg" class="main-img-area img-fit-cover ht-240 w-100" />
                        </div>
                        <div class="photo-area col-md-3 pd-l-0 pd-r-0 position-relative d-block border-bottom">
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/82.jpg"  class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="left-photo w-100 float-left pd-l-1 pd-b-1">
                                <img src="~/image/Success_story/83.jpg" class="left-img-photo img-fit-cover w-100 ht-80">
                            </div>
                            <div class="right-photo w-100 float-right pd-l-1 pd-b-1 position-relative">
                                <div class="total-photo">
                                    <h6 class="photo-total1">111 +</h6><h6 class="photo-total">Photo</h6>
                                </div>
                                <img src="../assets/images/portfolio/350/fe067e993541fd2d291011b03f7c8c03.jpg" class="right-img-photo img-fit-cover w-100 ht-80">

                            </div>
                        </div>
                    </div>
                    <div class="couple-content">
                        <div class="vehicle-block format-standard">
                            <div class="vehicle-block-content">
                                <h5 class="groom text-capitalize">Yogesh<span class="weds"><i class="fa fa-heart"></i></span>Palak</h5>
                            </div>
                        </div>
                    </div>
                    <div class="tx-center  pd-b-10">
                        <h4 class="tx-color-888 tx-18 tx-color-666 tx-bold"><i class="fa fa-map-marker"></i> Delhi</h4>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>


