
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<br />
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <section id="" class="vendor_slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-container">
                                <div class="index_head amp"><h1 style="text-align:center;"><span>Terms and Conditions</span></h1></div>
                                <hr />


                            </div>
                            <div class="col-lg-12 col-xs-12">
                                <p style="text-align: justify;">
                                    Welcome to Jubilation.com, a wedding website which provides wedding related valuable under one portal in order to match your needs for your or your beloveds wedding. The agreement will legally binds your usage of the Site and Membership.

                                    <br />

                                    We request you to read all the Terms and Condition:-
                                </p>
                                <br />

                                <div class="index_head amp">
                                    <h4 style="text-align:center;">
                                        <span>
                                            Eligibility

                                        </span>
                                    </h4>
                                </div>
                                <p style="text-align: justify;">
                                    Use of Jubilation.com is restricted where prohibited. For registering on Jubilation.com, you need to update your valid details. If you are registering with us as a vendor, then you will have to furnish your accurate details for the clients. On registering with us, you implicitly and explicitly represent your genuine right, authority and capacity to enter into this agreement and undertake to fully abide by all the Terms & Conditions of the Agreement, at all times. Being a vendor, you should have valid business operations license and should be compliant with all the government and statutory regulations required to run a business as applicable under the laws of the Union of India. If you are registering as an individual, you have to be above 18 (eighteen) years of age and authentically represent your ability to enter into a legally binding contract.
                                </p>

                                <br /> <br />

                                <div class="index_head amp">
                                    <h4 style="text-align:center;">
                                        <span>
                                            Privacy Policy

                                        </span>
                                    </h4>
                                </div>
                                <p style="text-align: justify;">
                                    Please read the Privacy Policy of our site under the option. Through the utilization of data, services and experiences on our Site by you, the information we obtain will be subject to the Private Policy of our website. If you do not agree to it, you may refrain yourself by using future usage of our portal Jubilation.com and voluntarily discontinue your user account from our website.
                                </p>

                                <br /> <br />
                                <div class="index_head amp">
                                    <h4 style="text-align:center;">
                                        <span>
                                            Content

                                        </span>
                                    </h4>
                                </div>
                                <p style="text-align: justify;">
                                    The details uploaded by the vendors on Jubilation.com comes with the complete responsibility of the vendors and Jubilation.com does not claim any ownership rights on any material like file, image, photo, video, sounds etc. They will have complete right to edit, replace or modify the details of the item. The content submitted on Jubilation.com is owned and operated by Jubilation Wedding Network. If you are found violating any of the terms and conditions, it will lead to the temporary suspension/ permanent termination of the account on our portal:

                                    <br />
                                    <ul>
                                        <li>Repetition of account is not allowed on Jubilation.com, if the user have different businesses then it is their responsibility to inform Jubilation.com for the same.</li>
                                        <li>You are not allowed to violate someone’s trademark rights and/ or content ownership.</li>
                                        <li>You are not allowed to collect any personal information about anyone registered with Jubilation but in case of the requirement of any goods or services offered by the vendor you can contact him/her based on the details provided by them during their preferable timings.</li>
                                        <li>You shall not use emails tools (such as "Email this page") to send spam.</li>
                                        <li>You should not share your password with anyone, in case you shared your password only you shall be responsible for the misuse of information raised due to sharing of the password</li>
                                        <li>You shall not upload any content that contains any kind of virus that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information.</li>
                                        <li>You should not create or modify the version of Jubilation website/ logo or other trademark.</li>
                                        <li>
                                            You should not obligate any illegal activity under the laws of India by using Jubilation.com portal
                                        </li>
                                        <li>You are not allowed to upload and/or update any provoking/ violent/ abusive/ hate/ pornographic content, image, speech or threats on Jubilation.com</li>
                                        <li>You should not update any personal information of any individual without his/her consent.</li>
                                        <li>
                                            You should not upload any sexually explicit pictures, else such content shall result in immediate cancellation of services provided by Jubilation.com
                                        </li>
                                    </ul>
                                    <br />
                                </p>
                            </div>

                            <div class="index_head amp">
                                <h4 style="text-align:center;">
                                    <span>
                                        Disclaimer of Warranties:

                                    </span>
                                </h4>
                            </div>


                            <p style="text-align: justify;">
                                Jubilation Wedding Network and its services are provided on an "as is" and "as available" basis, without any warranties of any kind, either express or implied, to the fullest extent permitted by law, and Jubilation Wedding Network expressly disclaims any and all warranties, whether express or implied, including, but not limited to, any implied warranties of merchantability, title, fitness for a particular purpose, quiet enjoyment or non-infringement. Jubilation Wedding Network does not warrant that the service will be uninterrupted, timely, secure, error-free or free from viruses, worms or malware.
                            </p>
                            <br />
                            <div class="header-container">
                                <div class="index_head amp">
                                    <h4 style="text-align:center;">
                                        <span>
                                            Limitations on Liability:
                                        </span>
                                    </h4>
                                </div>
                                <p style="text-align: justify;">

                                    Jubilation.com or any person associated like Directors, Officers, Employees, Licensors, Supplier etc. in no event shall be liable to you or any third party for any kind of damage, be it Direct, indirect, consequential etc. including lost, profit damages arise due to use of the services even if Jubilation has been advised of the possibility of such damages. Anyhow anything to the contrary contained herein, Jubilation’s liability to you for any cause regardless of the form of the action, will always be limited to the amount paid by you to Jubilation Wedding Network during the term of your use. The previous limitation of liability shall apply to the fullest extent permitted by law in the applicable Jurisdiction. You also specifically acknowledge that Jubilation Wedding Network shall not be liable for user content or any other kind of illegal content/ conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you.

                                </p>
                                <div class="header-container">
                                    <div class="index_head amp">
                                        <h4 style="text-align:center;">
                                            <span>
                                                Other:
                                            </span>
                                        </h4>
                                    </div>
                                    <p style="text-align: justify;">
                                        The moment you become the member of Jubilation.com, you allow us and agree to receive certain specific email from Jubilation.com and/or its group sites. You can unsubscribe them anytime by replying to the mail or easily clicking on unsubscribe link enclosed in the mail.
                                        <br />
                                        If any dispute, difference, breach or violation arising out of or with respect to the Terms shall be amicably resolved by and between the Parties within 7 (seven) days from the date of dispute by way of arbitration in Surat, India in accordance with the Arbitration and Conciliation Act, 1996 or any statutory modifications or re-enactment thereof or any rules made thereof, before a sole arbitrator, who shall be appointed by Jubilation Wedding Network and whose award shall be final and binding. In no circumstance, Jubilation.com shall be responsible for reimbursement of any loss except with the limitation to the tune of monetary gains accrued by Jubilation Wedding Network from you. The language of the arbitration shall be English. All matters relating to such arbitration shall be kept absolutely confidential at all times by you. When any dispute, difference, breach or violation, arising out of or with respect to the Terms is under arbitration, except for the matters under dispute, difference, breach or violation, the Parties shall continue to exercise their remaining respective rights and fulfil their remaining respective obligations under the Terms. All disputes shall always be governed by the exclusive jurisdiction of the Courts at Surat, India.
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

