
@{
    ViewBag.Title = "Testimonial";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}


<link href="~/Design/Testimonial/Testimonial.css" rel="stylesheet" />

<br />
<br />
<br />
<br />
<br />
<br />


<div class="container">
    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="serviceBox">
                        <div style="max-width: 120px; height: auto; background-color: powderblue; overflow: hidden; border: 1px solid black; border-radius: 50%; ">

                            <img src="~/image/Blog/25.jpg" style="width: 100%; min-height: 100%;" />
                        </div>
                        <br />

                        <h3 class="title">@Html.Raw(item.Name)</h3>
                        <p class="description">@Html.Raw(item.FeedBack_Message)</p>
                    </div>
                </div>
            }
        }
                

            </div>
</div>