@{
    ViewBag.Title = "yomesh_mansi";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />
<link href="~/Design/Submit_Wedding/font.css" rel="stylesheet" />
<link href="~/Design/Submit_Wedding/Yomesh.css" rel="stylesheet" />



<!-- navbar -->
<div class="container">
    <div class="mg-t-100">
        <h1 class="tx-20 tx-bold tx-gray-700 tx-capitalize border-bottom">Love Story- One Of A Kind!</h1>
    </div>
    <div class="mg-t-30">
        <div class="row">
            <div class="col-md-8">
                <div class="ht-400 border pd-5 position-relative">
                    <div class="img-area">
                        <img src="~/image/Success_story/1.jpg" class="img-fit-cover ht-390 w-100" alt="Love Story- one of a kind!" />
                    </div>
                    <div class="rounded-5 border pd-20 position-absolute bg-white tx-center couple">
                        <h4 class="tx-16 tx-color-666 tx-bold tx-uppercase">Pokal</h4><span class='heart main-color tx-24 tx-b0ld'><i class='fa fa-heart-o'></i> </span><h4 class='tx-16 tx-color-666 tx-bold tx-uppercase'>Hitesha</h4>
                        <h6 class="location">
                            <span class="loc"> <i class="fa fa-map-marker"></i> Surat</span>
                        </h6>


                    </div>
                </div><br /><br />
            </div>
            <div class="col-md-4">
                <div class="border bg-white pd-5 position-relative">
                    <div class="story-area">

                        <div class="real-info-block mg-t-10 mg-l-10 border-bottom">
                            <div class="heading-sidebar tx-bold tx-16 main-color mg-b-5">Wedding Date</div>
                            <ul class="real-theme list-unstyled mg-b-5">
                                <li class='tx-15 tx-bold tx-color-888'><i class="fa fa-calendar"></i> 12 November 2021</li>

                            </ul>
                        </div>

                    </div>
                    <div class="story-area">
                        <div class="real-info-block mg-t-10 mg-l-10 border-bottom">
                            <div class="heading-sidebar tx-bold tx-16 main-color mg-b-5">Theme</div>
                            <ul class="real-theme list-unstyled mg-b-5">
                            </ul>
                        </div>
                    </div>
                    <div class="story-area">
                        <div class="real-info-block mg-t-10 mg-l-10 border-bottom">
                            <div class="heading-sidebar tx-bold tx-16 main-color mg-b-5">Destination Wedding</div>
                            <ul class="real-theme list-unstyled mg-b-5">
                                <li class='tx-15 tx-bold tx-color-888'><i class='fa fa-map-marker'></i> Delhi</li>
                            </ul>
                        </div>
                    </div>
                    <div class="story-area">
                        <div class="real-info-block mg-t-10 mg-l-10 border-bottom">
                            <div class="heading-sidebar tx-bold tx-16 main-color mg-b-5">Season</div>
                            <ul class="real-theme list-unstyled mg-b-5">
                                <li class='tx-15 tx-bold tx-color-888'>Winter</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="mg-t-30">
        <h3 class="dual-border tx-bold tx-color-888">The Story</h3>
        <div class="lead bg-white pd-10" height="100">
            <p>
                How we met: &nbsp;We somehow got in touch with one another through a college project in the year 2012 in New Delhi. He was from a different college, so we talked on WhatsApp a lot, but met rarely. In fact, we met for the first time almost 2 years after knowing one another. Over the years, we always stayed in touch and were each other&#39;s &quot; someone special&quot; but things never really kicked off properly as we were always in different cities, working on our careers and in different phases of life. &nbsp;Yomesh was very particular to ask me out only when he was absolutely certain, and I had given up hopes on us. One day suddenly, after 6 years of being friends, Yomesh messaged me &quot; Don&#39;t you think it&#39;s high time we started dating ?&quot; I was surprised and couldn&#39;t believe this was finally happening, so it took me &nbsp;6 months to say yes, and we went on our first &quot;date&quot; a year after dating one another over messages and phone calls. &nbsp;When we finally decided to fly more often to see each other, Covid happened.&nbsp;<br />
                There was always a distance between us-physically, so much so that we didn&#39;t have a single picture together before our marriage. But we managed to beat it and here we share, the most beautiful album of our lives. I always wanted a love story, which when I narrate to my kids, they believe in the power of love. I think I have gotten mine
            </p>

            <p>&nbsp;</p>

            <p>Wedding Style: We started planning our wedding during the second wave. So it was clear to us, keep the wedding intimate, source locally, but make everything beautiful just the way we want. We saved for our marriage and did all the expenditures by ourselves. It must not be as royal as the other &quot;Grand Indian Wedding&quot; but I think it&#39;s also important to spread a message that our parents are not responsible to give us a fairy tale wedding, we have to write our own, and then no matter whether it&#39;s grand or not, it will be beautiful for sure.</p>

            <p>&nbsp;</p>

            <p>
                Wedding outfit: As a 3 years&#39; old, my mother dressed me up as a child bride for a school function. I wore a red gota patti lehanga for the event. My Daadu, wasn&rsquo;t with me on that day.<br />
                Later, he saw my picture from the event and asked my Bua, &ldquo;Will I live long enough to see her as a bride ?&rdquo;<br />
                Almost 25 years later, I knew I has to dress up again as a bride. My Daadu, wasn&rsquo;t there with me again; he didn&rsquo;t live long enough. But, I again picked a red gota patti lehanga, for that&#39;s how he saw me as a bride.&nbsp;
            </p>

            <p>So here&rsquo;s, my Daadu&rsquo;s &ldquo;Laado&rdquo; as a bride.</p>
            ....
        </div>
        <div class="pd-t-10 pd-l-5 pd-r-5 pd-b-10"><span class="tx-white more-lead bg-primary pd-10 rounded-10" style="cursor:pointer;">Read More </span></div>
    </div>


    <div class="mg-t-30">
        <h3 class="dual-border tx-bold tx-color-888"> Gallery</h3>
        <div class="col-md-12 mg-t-50 p-0 mg-b-50">
            <div class="text-center tx-center small-title small-title-sub small-title-separator">
                <p class="gallery-head main-color">Engagement</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="289" class="row">
                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90110/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/1.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90111/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/2.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90112/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/3.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90113/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/4.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90114/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/5.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90115/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/6.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90116/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/7.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90117/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/8.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90118/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/9.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90119/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/10.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90120/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/11.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90121/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/12.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90122/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/13.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90123/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/15.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90124/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/16.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90125/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/17.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>

            <div class="col-md-3 bg-light   pd-t-20">

                <div class="col-md-12 p-0 mg-b-50 box-shadow border">
                    <div class="text-center tx-center small-title small-title-sub small-title-separator">
                        <p>The Engagement VENDOR TEAM</p>
                    </div>
                </div>
                <div class="col-md-12 p-0 mg-b-50">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/lehengaicon.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="../wedding-vendors/wedding-attire/delhi/astha-narang-greater-kailash-i.html" onclick="openvendor('3599');" target="_blank" rel="nofollow"><h3 class="business-name">Astha Narang</h3></a>
                                        <a href="../wedding-vendors/wedding-attire/delhi/index.html" target="_blank"><h6 class="cat-name">Bridal Attire, Delhi</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/groom.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="../wedding-vendors/groom-attire/delhi/gujralsons-karol-bagh.html" onclick="openvendor('2001');" target="_blank" rel="nofollow"><h3 class="business-name">Gujralsons</h3></a>
                                        <a href="../wedding-vendors/groom-attire/delhi/index.html" target="_blank"><h6 class="cat-name">Groom Attire, Delhi</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/bjicon.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="../wedding-vendors/bridal-jewellery/delhi/suhana-art-n-jewels-shahpur-jat.html" onclick="openvendor('408');" target="_blank" rel="nofollow"><h3 class="business-name">Suhana Art n Jewels</h3></a>
                                        <a href="../wedding-vendors/bridal-jewellery/delhi/index.html" target="_blank"><h6 class="cat-name">Bridal Jewellery, Delhi</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/makeupicon.png"  class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://instagram.com/makeupbycherry" target="_blank" rel="nofollow"><h3 class="business-name">Cherry Deol</h3></a>
                                        <a href="../wedding-vendors/makeup-and-hair.html" target="_blank"><h6 class="cat-name">Makeup Artists</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/banqueticon.png"  class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.mapplegold.com/" target="_blank" rel="nofollow"><h3 class="business-name">Mapple Gold</h3></a>
                                        <a href="../wedding-vendors/wedding-venue.html" target="_blank"><h6 class="cat-name">Wedding Venue</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


        <div class="col-md-12 mg-t-50 p-0 mg-b-50">
            <div class="text-center tx-center small-title small-title-sub small-title-separator">
                <p class="gallery-head main-color">Haldi </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="285" class="row">
                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90078/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/18.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90067/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/19.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90068/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/20.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90069/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/21.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90070/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/22.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90071/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/23.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90072/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/24.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90073/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/25.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90074/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/26.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90075/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/27.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90076/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/28.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 bg-light   pd-t-20">

                <div class="col-md-12 p-0 mg-b-50 box-shadow border">
                    <div class="text-center tx-center small-title small-title-sub small-title-separator">
                        <p>The Haldi  VENDOR TEAM</p>
                    </div>
                </div>
                <div class="col-md-12 p-0 mg-b-50">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/lehengaicon.png"  class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="instagram.com/aachho/index.html" target="_blank" rel="nofollow"><h3 class="business-name">Aachho Jaipur</h3></a>
                                        <a href="../wedding-vendors/wedding-attire.html" target="_blank"><h6 class="cat-name">Wedding Attire</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/decoricon.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.instagram.com/muskanflowerdecorators/" target="_blank" rel="nofollow"><h3 class="business-name">Muskan Decorators</h3></a>
                                        <a href="../wedding-vendors/decorators.html" target="_blank"><h6 class="cat-name">Wedding Decorators</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


        <div class="col-md-12 mg-t-50 p-0 mg-b-50">
            <div class="text-center tx-center small-title small-title-sub small-title-separator">
                <p class="gallery-head main-color">Mehandi</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="287" class="row">
                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90098/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/29.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90099/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/30.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90100/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/31.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90101/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/32.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90102/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/33.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90103/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/34.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90103/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/35.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 bg-light   pd-t-20">

                <div class="col-md-12 p-0 mg-b-50 box-shadow border">
                    <div class="text-center tx-center small-title small-title-sub small-title-separator">
                        <p>The Mehandi VENDOR TEAM</p>
                    </div>
                </div>
                <div class="col-md-12 p-0 mg-b-50">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/lehengaicon.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.instagram.com/theloom.in/" target="_blank" rel="nofollow"><h3 class="business-name">The loom</h3></a>
                                        <a href="../wedding-vendors/wedding-attire.html" target="_blank"><h6 class="cat-name">Wedding Attire</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/bjicon.png"  class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.instagram.com/suhana_art_and_jewels/" target="_blank" rel="nofollow"><h3 class="business-name">Suhana Arts and Jewels </h3></a>
                                        <a href="../wedding-vendors/bridal-jewellery.html" target="_blank"><h6 class="cat-name">Bridal Jewellery</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/mehendi.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.instagram.com/kanha_mehandi_art/" target="_blank" rel="nofollow"><h3 class="business-name">Kanha Mehandi Art</h3></a>
                                        <a href="../wedding-vendors/mehendi-artists.html" target="_blank"><h6 class="cat-name">Mehendi Artists</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


        <div class="col-md-12 mg-t-50 p-0 mg-b-50">
            <div class="text-center tx-center small-title small-title-sub small-title-separator">
                <p class="gallery-head main-color">Wedding</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="288" class="row">
                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90132/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/36.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90133/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/37.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90134/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/38.jpg"class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90135/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/39.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90136/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/40.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90137/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/42.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90138/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/43.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90139/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/44.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90140/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/45.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90141/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/46.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90142/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/47.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90143/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/48.jpg"  class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90144/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/49.jpg"class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-l-5 pd-r-5">
                        <div class="ht-250" macy-complete="1">
                            <div class="">
                                <figure>
                                    <a href="../photos/p-90145/index.html" class="lightbox">
                                        <div>
                                            <img src="~/image/Success_story/Yomesh/41.jpg" class="img-fit-cover w-100 ht-240" alt="" />
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-3 bg-light   pd-t-20">

                <div class="col-md-12 p-0 mg-b-50 box-shadow border">
                    <div class="text-center tx-center small-title small-title-sub small-title-separator">
                        <p>The Wedding VENDOR TEAM</p>
                    </div>
                </div>
                <div class="col-md-12 p-0 mg-b-50">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/lehengaicon.png"class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="../wedding-vendors/wedding-attire/delhi/anita-dongre-vasant-kunj.html" onclick="openvendor('4328');" target="_blank" rel="nofollow"><h3 class="business-name">Anita Dongre</h3></a>
                                        <a href="../wedding-vendors/wedding-attire/delhi/index.html" target="_blank"><h6 class="cat-name">Bridal Attire, Delhi</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/groom.png"class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="../wedding-vendors/groom-attire/delhi/gujralsons-karol-bagh.html" onclick="openvendor('2001');" target="_blank" rel="nofollow"><h3 class="business-name">Gujralsons</h3></a>
                                        <a href="../wedding-vendors/groom-attire/delhi/index.html" target="_blank"><h6 class="cat-name">Groom Attire, Delhi</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/banqueticon.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="../wedding-vendors/wedding-venue/delhi/the-lalit-connaught-place.html" onclick="openvendor('5578');" target="_blank" rel="nofollow"><h3 class="business-name">The Lalit</h3></a>
                                        <a href="../wedding-vendors/wedding-venue/delhi/index.html" target="_blank"><h6 class="cat-name">Wedding Venue, Delhi</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/decoricon.png"  class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="#" target="_blank" rel="nofollow"><h3 class="business-name">Galore Events and Decorators</h3></a>
                                        <a href="../wedding-vendors/decorators.html" target="_blank"><h6 class="cat-name">Wedding Decorators</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/makeupicon.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.instagram.com/makeupbycherryy/" target="_blank" rel="nofollow"><h3 class="business-name">Cherry Deol</h3></a>
                                        <a href="../wedding-vendors/makeup-and-hair.html" target="_blank"><h6 class="cat-name">Makeup Artists</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/bjicon.png" class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.instagram.com/suhana_art_and_jewels/" target="_blank" rel="nofollow"><h3 class="business-name">Suhana arts and jewels</h3></a>
                                        <a href="../wedding-vendors/bridal-jewellery.html" target="_blank"><h6 class="cat-name">Bridal Jewellery</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="vendorClass">
                                <div class="container-left">
                                    <div class="cat-icon-area">
                                        <img src="~/image/Success_story/Yomesh/icon/photo.png"  class="icon-cat" alt="" />
                                    </div>

                                </div>
                                <div class="container-right">
                                    <div class="vendor-name">
                                        <a href="https://www.instagram.com/photo_paparazzo/?utm_medium=copy_link" target="_blank" rel="nofollow"><h3 class="business-name">Photo Paparazo</h3></a>
                                        <a href="../wedding-vendors/wedding-photography.html" target="_blank"><h6 class="cat-name">Wedding Photography</h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>