@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: system-ui;
    background: #FAECE5;
    color: #236064;
    text-align: center;
}

.container-fluid {
    background-color: #718656
}

.img{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: #FAECE5;
    font-size: 4.13em;
    margin: 40px auto;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
    color: #3D3D3D;
    font-size: 1.10em;
}

.shape {
    background-color: #FAECE5;
    width: 155px;
    height: 40px;
    border-radius: 30px;
    line-height: 40px;
    color: white;
    margin: 20px auto;
    position: center;
    text-align: center;
}

a {
    font-family: 'Kumbh Sans', sans-serif;
    color: #718656;
    text-decoration: none;
    font-size: 1.00em;
}

    a:hover {
        font-family: 'Kumbh Sans', sans-serif;
        color: #CF171F;
        text-decoration: none;
        font-size: 1.05em;
    }

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 17px;
    text-align: left;
    background-color: #FBF7F5;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border: 0;
    border-top: 7px solid rgba(113, 134, 86, 1);
}

.card-title {
    font-family: 'Kumbh Sans', sans-serif;
    color: #3D3D3D;
    font-size: 1.50em;
    text-align: left;
}

.category {
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #CB7348;
    font-size: 1.10em;
    text-align: left;
}

a.category:hover {
    font-family: 'Kumbh Sans', sans-serif;
    color: #CF171F;
    text-decoration: none;
    font-size: 1.20em;
}
