
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Layout/_V_adminLayoutPage2.cshtml";
}

<h2>Index3</h2>
@if (User.Identity.IsAuthenticated) {
    <h1>welcome Modrate @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>

    <a href="@Url.Action("SignOut","Home")">Logout</a>

}

