
@{
    ViewBag.Title = "venue";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}
<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />

<br />
<br />
<br />
<br />
<div class="container">
    <div class="mg-t-30">
        <h1 class="tx-20 tx-bold tx-gray-700 tx-capitalize border-bottom">Wedding Venues in India</h1>
        <h4 class="tx-14 tx-gray-400 tx-capitalize">Showing 26 Wedding Venues in India</h4>
    </div>

    <div class="mg-t-40">
        <div class="top-listing row">
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="doubletree-by-hilton-goa-panaji-panaji/index.html" target="_blank">
                            <img src="~/image/Services/Venue/1.jpg" style="height:210px" class="img-fit-cover ht-180" alt="DoubleTree by Hilton Goa,Panaji" title="DoubleTree by Hilton Goa,Panaji" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <div class="w-100 float-left b-bottom-dashed">
                            <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5" style="color:black">
                                <a>@Html.ActionLink("Doubletree By Hilton Goa Panaji", "venue1", "Services", new { @class = "tx-color-778" })</a>
                            </h4>
                            <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Panaji, Goa</p>

                        </div>
                        <div class="w-75 float-left  pd-t-10">
                            <div class="">
                                <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1800</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                            </div>
                        </div>
                        <div class="w-25 float-right pd-t-10">
                            <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">5.0000</p>
                            <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">1 reviews</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="royal-orchid-beach---resort---spa--goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/2.jpg" class="img-fit-cover ht-180" alt="Royal Orchid Beach , Resort & Spa " title="Royal Orchid Beach , Resort & Spa " style="height:210px" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="royal-orchid-beach---resort---spa--goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Royal Orchid Beach , Resort &&#8230;</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="prainha-resort-by-the-sea--dona-paula--goa--dona-paula/index.html" target="_blank">
                            <img src="~/image/Services/Venue/3.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Prainha Resort By The Sea, Dona Paula, Goa" title="Prainha Resort By The Sea, Dona Paula, Goa" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="prainha-resort-by-the-sea--dona-paula--goa--dona-paula/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Prainha Resort By The Sea, Dona&#8230;</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>   Dona Paula, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="clube-tennis-de-gaspar-dias--miramar--goa-panaji/index.html" target="_blank">
                            <img src="~/image/Services/Venue/4.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Clube Tennis De Gaspar Dias, Miramar, Goa" title="Clube Tennis De Gaspar Dias, Miramar, Goa" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="clube-tennis-de-gaspar-dias--miramar--goa-panaji/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Clube Tennis De Gaspar Dias, Miramar,&#8230;</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Panaji, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 450</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="international-centre-goa--dona-paula/index.html" target="_blank">
                            <img src="~/image/Services/Venue/5.jpg" style="height:192px" class="img-fit-cover ht-180" alt="International Centre Goa" title="International Centre Goa" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="international-centre-goa--dona-paula/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">International Centre Goa</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>   Dona Paula, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="resorte-village-royale-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/6.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Resorte Village Royale" title="Resorte Village Royale" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="resorte-village-royale-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Resorte Village Royale</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 200</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0 reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="zuri-white-sands-resort-and-casino--varca--goa-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/7.jpg" style="height:176px" class="img-fit-cover ht-180" alt="Zuri White Sands Resort And Casino, Varca, Goa" title="Zuri White Sands Resort And Casino, Varca, Goa" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="zuri-white-sands-resort-and-casino--varca--goa-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Zuri White Sands Resort And Casino,&#8230;</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 2500</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="kesarval-garden-retreat--verna-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/8.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Kesarval Garden Retreat, Verna" title="Kesarval Garden Retreat, Verna" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="kesarval-garden-retreat--verna-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Kesarval Garden Retreat, Verna</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 350</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="hotel-goan-heritage--calangute-bardez/index.html" target="_blank">
                            <img src="~/image/Services/Venue/9.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Hotel Goan Heritage, Calangute" title="Hotel Goan Heritage, Calangute" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="hotel-goan-heritage--calangute-bardez/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Hotel Goan Heritage, Calangute</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Bardez, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="stone-water-eco-resort--bogmalo--goa-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/10.jpg" style="height:176px" class="img-fit-cover ht-180" alt="Stone Water Eco Resort, Bogmalo, Goa" title="Stone Water Eco Resort, Bogmalo, Goa" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="stone-water-eco-resort--bogmalo--goa-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Stone Water Eco Resort, Bogmalo,&#8230;</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1250</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="grand-hyatt-goa--bambolim-bambolim/index.html" target="_blank">
                            <img src="~/image/Services/Venue/11.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Grand Hyatt Goa, Bambolim" title="Grand Hyatt Goa, Bambolim" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="grand-hyatt-goa--bambolim-bambolim/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Grand Hyatt Goa, Bambolim</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Bambolim, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="safira-river-front-resort-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/12.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Safira River Front Resort" title="Safira River Front Resort" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="safira-river-front-resort-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Safira River Front Resort</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 750</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="rio-royale--arpora-bardez/index.html" target="_blank">
                            <img src="~/image/Services/Venue/13.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Rio Royale, Arpora" title="Rio Royale, Arpora" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="rio-royale--arpora-bardez/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Rio Royale, Arpora</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Bardez, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1600</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="joecons-beach-resort-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/14.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Joecons Beach Resort" title="Joecons Beach Resort" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="joecons-beach-resort-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Joecons Beach Resort</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1050</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="longuinhos-beach-resort--colva--colva-mormugao/index.html" target="_blank">
                            <img src="~/image/Services/Venue/15.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Longuinhos Beach Resort, Colva" title="Longuinhos Beach Resort, Colva" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="longuinhos-beach-resort--colva--colva-mormugao/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Longuinhos Beach Resort, Colva</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>   Colva Mormugao, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="marbela-beach-resort--mandrem/index.html" target="_blank">
                            <img src="~/image/Services/Venue/16.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Marbela Beach Resort " title="Marbela Beach Resort " />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="marbela-beach-resort--mandrem/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Marbela Beach Resort </h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Mandrem, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="bay-15--dona-paula-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/17.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Bay 15, Dona Paula" title="Bay 15, Dona Paula" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="bay-15--dona-paula-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Bay 15, Dona Paula</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="planet-hollywood-beach-resort--utorda--goa-salcette/index.html" target="_blank">
                            <img src="~/image/Services/Venue/18.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Planet Hollywood Beach Resort, Utorda, Goa" title="Planet Hollywood Beach Resort, Utorda, Goa" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="planet-hollywood-beach-resort--utorda--goa-salcette/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Planet Hollywood Beach Resort,&#8230;</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Salcette, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="radisson-blu--cavelossim-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/19.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Radisson Blu, Cavelossim" title="Radisson Blu, Cavelossim" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="radisson-blu--cavelossim-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Radisson Blu, Cavelossim</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="la-cabana-beach---spa--mandrem-mandrem/index.html" target="_blank">
                            <img src="~/image/Services/Venue/20.jpg" style="height:176px" class="img-fit-cover ht-180" alt="La Cabana Beach & Spa, Mandrem" title="La Cabana Beach & Spa, Mandrem" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="la-cabana-beach---spa--mandrem-mandrem/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">La Cabana Beach & Spa, Mandrem</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Mandrem, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="riva-beach-resort-mandrem/index.html" target="_blank">
                            <img src="~/image/Services/Venue/21.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Riva Beach Resort" title="Riva Beach Resort" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="riva-beach-resort-mandrem/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Riva Beach Resort</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Mandrem, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 900</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="the-leela--goa-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/22.jpg" style="height:192px" class="img-fit-cover ht-180" alt="The Leela, Goa" title="The Leela, Goa" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="the-leela--goa-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">The Leela, Goa</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="por-do-sol-goa/index.html" target="_blank">
                            <img src="~/image/Services/Venue/23.jpg" style="height:192px" class="img-fit-cover ht-180" alt="POR DO SOL" title="POR DO SOL" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="por-do-sol-goa/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">POR DO SOL</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Goa, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1200</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="fahrenheit-hotels-and-resorts-bardez/index.html" target="_blank">
                            <img src="~/image/Services/Venue/24.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Fahrenheit Hotels And Resorts" title="Fahrenheit Hotels And Resorts" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="fahrenheit-hotels-and-resorts-bardez/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Fahrenheit Hotels And Resorts</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Bardez, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="zeebop-salcette/index.html" target="_blank">
                            <img src="~/image/Services/Venue/25.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Zeebop" title="Zeebop" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="zeebop-salcette/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Zeebop</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Salcette, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow mg-b-30">
                    <div class="img-area">
                        <a href="resorte-marinha-dourada-bardez/index.html" target="_blank">
                            <img src="~/image/Services/Venue/26.jpg" style="height:192px" class="img-fit-cover ht-180" alt="Resorte Marinha Dourada" title="Resorte Marinha Dourada" />
                        </a>
                    </div>
                    <div class="pd-10">
                        <a href="resorte-marinha-dourada-bardez/index.html" target="_blank">
                            <div class="w-100 float-left b-bottom-dashed">
                                <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Resorte Marinha Dourada</h4>
                                <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Bardez, Goa</p>

                            </div>
                            <div class="w-75 float-left  pd-t-10">
                                <div class="">
                                    <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                </div>
                            </div>
                            <div class="w-25 float-right pd-t-10">
                                <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.8</p>
                                <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0  reviews</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

