@model IEnumerable<Jubilations.Models.Services>
@{
    ViewBag.Title = "Services1";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />


<br />
<br />
<br />
<br />
<div class="container">
    <div class="mg-t-30">
        <h1 class="tx-20 tx-bold tx-gray-700 tx-capitalize border-bottom">Wedding Venues in India</h1>
        <h4 class="tx-14 tx-gray-400 tx-capitalize">Showing 26 Wedding Venues in India</h4>
    </div>

    <div class="mg-t-40">
        <div class="top-listing row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card box-shadow mg-b-30">
                            <div class="img-area">
                                <img src="~/image/Services/Venue/1.jpg" style="height:210px" class="img-fit-cover ht-180" alt="DoubleTree by Hilton Goa,Panaji" title="DoubleTree by Hilton Goa,Panaji" />
                            </div>
                            <div class="pd-10">
                                <div class="w-100 float-left b-bottom-dashed">
                                    <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5" style="color:black">
                                        @*<a>@Html.ActionLink("Doubletree By Hilton Goa Panaji", "venue1", "Services", new { @class = "tx-color-778" })</a>*@
                                        <a> @Html.ActionLink(item.Services_Title, "venue", new { categoryId = item.Category_Id }, null)</a>
                                    </h4>
                                    <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Panaji, Goa</p>

                                </div>
                                <div class="w-75 float-left  pd-t-10">
                                    <div class="">
                                        <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1800</p>
                                        <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                    </div>
                                </div>
                                <div class="w-25 float-right pd-t-10">
                                    <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">5.0000</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">1 reviews</p>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }

                </div>
        </div>
    </div>

