@model IEnumerable<Jubilations.Models.Services>
@{
    ViewBag.Title = "Services1";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}
<!-- navbar -->
@*<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />

    <div class="container">
        <div class="mg-t-100">
            <h1 class="tx-20 tx-bold tx-gray-700 tx-capitalize border-bottom">
                Jubilation - Wedding Vendors
            </h1>
            <div class="breadcrumb-area mg-b-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style2 mg-b-0">
                        <li class="breadcrumb-item"><a href="../index.html">Home <i class="fa fa-arrow-right"></i></a></li>

                        <li class="breadcrumb-item active" aria-current="page">
                            Wedding Vendors
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section id="vendor_sec" class="vendor_slider">
        <div class="container mg-t-30 mg-b-30">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-container">
                        <div class="index_head amp"><h2 class="tx-20 tx-bold tx-color-777 tx-center"><span>Wedding Categories</span></h2></div>
                        <div class="col-md-12"> <h5 class="main-subheading tx-semibold tx-color-777 tx-16 tx-center">From the smallest detail, to the grandest event. From today until your day, we do. We build your dream around you</h5></div>
                    </div>
                </div>
                <div class="spacer-30"></div>
            </div>
        </div>
        <div class="section col-md-12 container">
            <div class="row">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <a class="dataToggle" label="weddingVenue">
                            </a><div class="mn-ht-250 card">
                                <a class="dataToggle" label="weddingVenue">
                                </a>
                                <div class="card-body">
                                    <a class="dataToggle" label="weddingVenue">
                                        <div class="cat-img">
                                            <img src="~/image/Services/icon/venueblack.png" class="cat-icon" alt="wedding venues">
                                        </div>
                                    </a>
                                    <a href="Services\venue">
                                        <h2 class="card-title tx-color-icon">
                                            @Html.ActionLink(item.Services_Title, "venue", new { categoryId = item.Category_Id }, null)
                                        </h2>
                                    </a>
                                    <p class="tx-13 tx-semibold tx-gray-aaa tx-center"><a href="wedding-venue16cf.html?s=hotels" class="tx-color-777">Hotels</a>, <a href="wedding-venue300d.html?s=farmhouse" class="tx-color-777">Farmhouse</a>, <a href="wedding-venue67a0.html?s=community-halls" class="tx-color-777">Community Halls</a>, <a href="wedding-venue3a31.html?s=resorts" class="tx-color-777">Resorts</a>, <a href="wedding-venuee377.html?s=terrace-banquet-halls" class="tx-color-777">Banquet Halls</a>, <a href="wedding-venue8833.html?s=wedding-tents" class="tx-color-777">Wedding Tents</a></p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>*@


<!-- navbar -->
<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />


<br />
<br />
<br />
<br />
<div class="container">
    <div class="mg-t-30">
        <h1 class="tx-20 tx-bold tx-gray-700 tx-capitalize border-bottom">Wedding Venues in India</h1>
        <h4 class="tx-14 tx-gray-400 tx-capitalize">Showing 26 Wedding Venues in India</h4>
    </div>

    <div class="mg-t-40">
        <div class="top-listing row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card box-shadow mg-b-30">
                            <div class="img-area">
                                <img src="~/image/Services/Venue/1.jpg" style="height:210px" class="img-fit-cover ht-180" alt="DoubleTree by Hilton Goa,Panaji" title="DoubleTree by Hilton Goa,Panaji" />
                            </div>
                            <div class="pd-10">
                                <div class="w-100 float-left b-bottom-dashed">
                                    <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5" style="color:black">
                                        @*<a>@Html.ActionLink("Doubletree By Hilton Goa Panaji", "venue1", "Services", new { @class = "tx-color-778" })</a>*@
                                        <a> @Html.ActionLink(item.Services_Title, "venue", new { categoryId = item.Category_Id }, null)</a>
                                    </h4>
                                    <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i>  Panaji, Goa</p>

                                </div>
                                <div class="w-75 float-left  pd-t-10">
                                    <div class="">
                                        <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1800</p>
                                        <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                    </div>
                                </div>
                                <div class="w-25 float-right pd-t-10">
                                    <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">5.0000</p>
                                    <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">1 reviews</p>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }

                </div>
        </div>
    </div>

