
@{
    ViewBag.Title = "venue1";
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}


<link href="~/Design/Submit_Wedding/submit_wedding.css" rel="stylesheet" />

<
<!-- navbar -->
<br /><br /><br /><br />
<div class="container pd-l-70 pd-r-70">
    <div class="col-md-12">
        <div class="mg-t-15">
            <div class="row overflow-hidden">
                <div class="col-md-8">
                    <div class="pd-1 bg-light img-area ht-400">
                        <div id="carouselExample2" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                 <img src="~/image/Services/Venue/27.jpg"  class="d-block img-fit-cover ht-400 w-100 rounded-5" alt="Marbela Beach Resort ">
                                </div>
                                <div class="carousel-item">
                                    <div class="main-img ht-400" style="position: relative;z-index: 1;">
                                        <img src="~/image/Services/Venue/28.jpg"alt="Marbela Beach Resort " data-src="/assets/images/portfolio/600/ad96736c5033fef00f776c6671c9bd8a.jpg" class="ht-400 d-block" style="opacity: 1;margin: 0 auto;">
                                    </div>
                                    <div class="blur-img">
                                        <img src="~/image/Services/Venue/29.jpg" alt="Marbela Beach Resort " data-src="/assets/images/portfolio/600/ad96736c5033fef00f776c6671c9bd8a.jpg" class="owl-lazy" style="opacity: 1;">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="main-img ht-400" style="position: relative;z-index: 1;">
                                        <img src="~/image/Services/Venue/30.jpg"  alt="Marbela Beach Resort " data-src="/assets/images/portfolio/600/c0e5862bf068fc3731be06ecd10ee13e.jpg" class="ht-400 d-block" style="opacity: 1;margin: 0 auto;">
                                    </div>
                                    <div class="blur-img">
                                        <img src="~/image/Services/Venue/31.jpg"  alt="Marbela Beach Resort " data-src="/assets/images/portfolio/600/c0e5862bf068fc3731be06ecd10ee13e.jpg" class="owl-lazy" style="opacity: 1;">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="main-img ht-400" style="position: relative;z-index: 1;">
                                        <img src="~/image/Services/Venue/32.jpg" alt="Marbela Beach Resort " data-src="/assets/images/portfolio/600/4658538e680cdb757a2eaf2bee18b8a7.jpg" class="ht-400 d-block" style="opacity: 1;margin: 0 auto;">
                                    </div>
                                    <div class="blur-img">
                                        <img src="~/image/Services/Venue/33.jpg" alt="Marbela Beach Resort " data-src="/assets/images/portfolio/600/4658538e680cdb757a2eaf2bee18b8a7.jpg" class="owl-lazy" style="opacity: 1;">
                                    </div>
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExample2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExample2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="mg-t-5 list-group border pd-10">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="tx-20 tx-color-000 tx-semibold mg-b-0">Marbela Beach Resort </h1>
                                <p class="tx-15 tx-bold tx-color-888 text-capitalize mg-b-0"><span class="tx-15"><i class="fa fa-map-marker"></i></span> Mandrem,Goa</p>
                                <p class="tx-13  tx-color-777 text-capitalize mg-b-0">Marbela Beach ,H.no.782,Gawdewada Morjim-Ashvem road Goa </p>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right pull-right">
                                    <div class="rating-area review-bg-10 wd-50 text-center pd-3 rounded-5">
                                        <span class="color-white tx-white tx-18 tx-semibold">5.0</span>
                                    </div>
                                    <div class="text-center tx-capitalize tx-semibold tx-color-777 tx-11 mg-t-2"><span>0 Reviews</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mg-t-5 list-group  pd-1 ht-500 bg-ui-01 position-relative overflow-hidden">
                        <div class="row mg-r-0 mg-l-0">
                            <div class="col-md-3 pd-2">
                                <div class="portfolio-area">
                                    <a href="marbela-beach-resort--mandrem/portfolio.html">
                                        <img src="~/image/Services/Venue/27.jpg"  class="ht-150 w-100 img-fit-cover rounded-5">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 pd-2">
                                <div class="portfolio-area">
                                    <a href="marbela-beach-resort--mandrem/portfolio.html">
                                        <img src="~/image/Services/Venue/28.jpg"  class="ht-150 w-100 img-fit-cover rounded-5">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 pd-2">
                                <div class="portfolio-area">
                                    <a href="marbela-beach-resort--mandrem/portfolio.html">
                                        <img src="~/image/Services/Venue/29.jpg" class="ht-150 w-100 img-fit-cover rounded-5">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row mg-tn-15 mg-r-0 mg-l-0 overlay-area">
                            <div class="content-center">
                                <div class="content-center text-center position-relative">
                                    <a class="" href="marbela-beach-resort--mandrem/portfolio.html">@Html.ActionLink("View All", "ViewCatelog", "Services", new {@class= "tx-13 btn btn-block btn-primary tx-white mg-r-5 tx-bold" })</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mg-t-5 list-group border pd-10 position-relative">
                        <div class="">
                            <div class="">
                                <h4 class="tx-14 tx-semibold tx-color-777 tx-capitalize" title="Areas Avaialbility in Marbela Beach Resort ">Areas Available (3)</h4>
                            </div>
                            <div class="row mg-t-20">
                                <div class="areaWidth w-50 pd-b-10 pd-l-10 pd-r-10">
                                    <div class="area-type-icon wd-20p float-left pd-l-10 pd-r-10">
                                        <img src="../../../assets/images/outdoor.png" class="img-responsive area-typ-img" alt="" />											<span class="area-type-heading d-block text-center img-center tx-11 tx-semibold tx-color-888">Outdoor</span>
                                    </div>
                                    <div class="area-type-data wd-80p float-left pd-l-10 pd-r-10">
                                        <span class="area-name tx-13 tx-bold tx-color-777">600 Floating | 350 Seating</span>
                                        <h6 class="area-name tx-12  tx-color-444">Open Area Lawn </h6>

                                    </div>
                                </div>
                                <div class="areaWidth w-50 pd-b-10 pd-l-10 pd-r-10">
                                    <div class="area-type-icon wd-20p float-left pd-l-10 pd-r-10">
                                        <img src="../../../assets/images/indoor.png" class="img-responsive area-typ-img" alt="" />											<span class="area-type-heading d-block text-center img-center tx-11 tx-semibold tx-color-888">Indoor</span>
                                    </div>
                                    <div class="area-type-data wd-80p float-left pd-l-10 pd-r-10">
                                        <span class="area-name tx-13 tx-bold tx-color-777">250 Floating | 200 Seating</span>
                                        <h6 class="area-name tx-12  tx-color-444">Hall</h6>

                                    </div>
                                </div>
                                <div class="areaWidth w-50 pd-b-10 pd-l-10 pd-r-10">
                                    <div class="area-type-icon wd-20p float-left pd-l-10 pd-r-10">
                                        <img src="../../../assets/images/indoor.png" class="img-responsive area-typ-img" alt="" />											<span class="area-type-heading d-block text-center img-center tx-11 tx-semibold tx-color-888">Indoor</span>
                                    </div>
                                    <div class="area-type-data wd-80p float-left pd-l-10 pd-r-10">
                                        <span class="area-name tx-13 tx-bold tx-color-777">250 Floating | 150 Seating</span>
                                        <h6 class="area-name tx-12  tx-color-444">Lawn</h6>

                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="mg-t-5 list-group border pd-10 position-relative">

                        <div class="service-pricing-area">
                            <div class="mg-b-20">
                                <h4 class="tx-16 tx-semibold tx-color-777 tx-capitalize" title="Prices & Services of  Marbela Beach Resort ">Prices & Services</h4>
                            </div>

                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Basic Inclusions</h5>
                                    </div>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Basic Lighting</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Electricity & Backup</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Valet Parking</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Furniture</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Service Staff</span>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Venue Is Suited For</h5>
                                    </div>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Pre Wedding Functions: Engagement, Cocktail, Mehndi, Sangeet, Etc.</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Wedding Ceremonies</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Reception</span>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Spaces Available</h5>
                                    </div>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Lawn</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Hall</span>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Rooms</h5>
                                    </div>
                                </div>
                                <div class="service-heading-h5-area">
                                    <h6 class="tx-13 tx-semibold tx-color-888 mg-t-10">Accommodation Rooms Available ?</h6>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Accommodation Rooms Available</span>
                                <div class="service-heading-h5-area">
                                    <span class="tx-12 tx-color-888 icon-green tx-semibold">No. Of Rooms</span> : <span class="tx-13 tx-color-888">43</span>
                                </div>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Timings & Slots</h5>
                                    </div>
                                </div>
                                <div class="service-heading-h5-area">
                                    <span class="tx-12 tx-color-888 icon-green tx-semibold">Morning Timing</span> : <span class="tx-13 tx-color-888">7:00 Am To 12:00 Am</span>
                                </div>
                                <div class="service-heading-h5-area">
                                    <span class="tx-12 tx-color-888 icon-green tx-semibold">Venue Closing Time</span> : <span class="tx-13 tx-color-888">12:00 Am </span>
                                </div>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Decor Policy</h5>
                                    </div>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Outside Decorators Allowed</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Decor Provided By The Venue</span>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Food Policy</h5>
                                    </div>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Food Provided By The Venues</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Non-veg Allowed At The Venue</span>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Alcohol Policy</h5>
                                    </div>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Alcohol Allowed At The Venue</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Outside Alcohol Allowed At The Venue</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Corkage Costs Applicable</span>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Parking Policy</h5>
                                    </div>
                                </div>

                                <div class="service-heading-h5-area">
                                    <h6 class="tx-13 tx-semibold tx-color-888 mg-t-10">Parking</h6>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Valet Provided By Venue</span>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Taxes</h5>
                                    </div>
                                </div>
                                <div class="service-heading-h5-area">
                                    <span class="tx-12 tx-color-888 icon-green tx-semibold">Taxes</span> : <span class="tx-13 tx-color-888">18.00%</span>
                                </div>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Booking Policy</h5>
                                    </div>
                                </div>
                                <div class="service-heading-h5-area">
                                    <span class="tx-12 tx-color-888 icon-green tx-semibold">Advance</span> : <span class="tx-13 tx-color-888">50% At The Time Of Booking </span>
                                </div>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Cancellation Policy</h5>
                                    </div>
                                </div>
                                <div class="service-heading-h5-area">
                                    <span class="tx-12 tx-color-888 icon-green tx-semibold">Cancellation Policy</span> : <span class="tx-13 tx-color-888">Non Cancellable</span>
                                </div>
                            </div>
                            <div class="service-area mg-b-20 border-bottom">
                                <div class="service-area-one">
                                    <div class="service-heading-h4-area">
                                        <h5 class="tx-14 tx-bold tx-color-888">Other Policies</h5>
                                    </div>
                                </div>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Ample Parking</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Fire Crackers Allowed</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Overnight Wedding Allowed</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Halls Are Air Conditioned</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Baarat Allowed</span>
                                <span class="tx-13 tx-color-888 icon-green"><i class="fa fa-check rating-c-5"></i> Hawan Allowed</span>
                            </div>
                        </div>
                    </div>
                    <div class="mg-t-5 list-group border pd-10 position-relative">
                        <h2 class="tx-16 tx-semibold tx-color-777 tx-capitalize" title="About - Marbela Beach Resort ">About - Marbela Beach Resort </h2>
                        <div class="mg-t-2 mg-b-10 para-text">
                            <div height="100">
                                <div height="100">
                                    <p>A stunning location constitutes one of the most important elements of what we can call a glamorous wedding. Get yourself a great venue booked as per your vision of how you want your wedding to turn out and the rest will follow.</p>

                                    <p class='para-content'>Set in the arms of lush green surroundings and pristine sea waves, Marbela Beach Resort is one of the most sought-after wedding venues in Goa. This four-star beachside hotel overlooks the Ashwem Beach and serves as the perfect spot for you to organize a wedding event that screams grandeur. If you are thinking of hosting an easy-breezy wedding, far away from the hassle of urban hustle, Marbela Beach Resort is just the right destination for you. The gorgeous and inviting setup amalgamated with Goa&rsquo;s breezy air and scintillating skies would surely make you and your guests awestruck at the beauty of the place.</p>

                                    <p class='para-content'>Marbela Beach Resort offers you all sorts of facilities you could ask for. From luxurious accommodations to spacious banquet halls, you name it and they have it. The hotel is ideal for both simple and small-scale wedding events as well as grand and large-scale wedding events. With their team&rsquo;s exemplary management skills and helping demeanor, you would not have to worry about anything going wrong since they would always be on their toes to bring you the best possible services.&nbsp;&nbsp;</p>

                                    <p class='para-content'>If you are on the hunt for a wedding venue that is synonymous with magic and allure, make sure you have Marbela Beach Resort on your cards. Check the place out for yourself and you would be impressed by the services they offer. Make your special day more precious by choosing Marbela as your wedding venue and enjoy every bit of it to the fullest with your loved ones.</p>

                                    <p class='para-content'><strong>Spaces available:</strong></p>

                                    <p class='para-content'>Marbela Beach Resort has both lush green lawns and large capacity banquet halls so that you have a myriad of options to choose from pertaining to both indoor and outdoor spaces. Apart from these, the hotel also encompasses around 43 rooms including luxury tents, royal suites as well as Spanish villas so that you would not have to worry about looking for accommodation spaces outside of the wedding venue. Marbela&rsquo;s spacious halls can accommodate up to 100 guests at a certain point in time. Following are the capacities of different units of Marbela Beach Resort:</p>

                                    <p class='para-content'>Indoor club &ndash; 50 sitting capacity, 70 floating capacity</p>

                                    <p class='para-content'>Outdoor beach lounge &ndash; 700 sitting capacity, 1000 floating capacity</p>

                                    <p class='para-content'><strong>Food and catering:</strong></p>

                                    <p class='para-content'>Marbela Beach Resort has its very own skilled team of talented chefs who leave no stone unturned to bring you and your guests scrumptious meals that would make you want to never stop eating. They have curated umpteen lip-smacking dishes in their menu so that you would always have something new and out-of-the-box to try. Their team is also open to coming up with a personalized menu so that you can have everything as per your choice on your special day. You can get in touch with Marbela Beach Resort for a deeper insight into the food options and cuisines that they have to offer. Some of the cuisines that have already made their way to the hotel&rsquo;s menu are as follows:</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; North-Indian</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Rajasthani</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; South-Indian</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Maharashtrian</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Coastal</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Goan</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Italian</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Chinese</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Continental</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Thai</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Mughlai</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Oriental</p>

                                    <p class='para-content'>You can also request their chefs, in case you want to get onion or garlic-free food prepared for yourself. A vegetarian meal at Marbela Beach Resort would cost you around Rs. 2000 exclusive of taxes while a non-vegetarian meal would cost somewhere around Rs. 2200, also exclusive of taxes.</p>

                                    <p class='para-content'><strong>Facilities offered:</strong></p>

                                    <p class='para-content'>Marbela Beach Resort offers hospitality that serves the guests with utmost delight and warmth. From catering to decoration, all of Marbela&rsquo;s facilities are nothing short of perfection. You can also enjoy a relaxing time here by availing yourself of facilities like a relaxing spa therapy, taking a dive into their glistening swimming pool, or enjoying a fun party at their bar. They also provide stunning backdrops and bright lighting schemes that can be seamlessly blended in with the kind of theme you are opting for pertaining to your wedding events. Some of the top-notch facilities offered at Marbela Beach Resort encompass the following services:</p>


                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Basic lighting</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Furniture options</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Service staff</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Electricity backup</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Air-conditioned halls</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Bridal rooms</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; In-house catering</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Music license</p>

                                    <p class='para-content'>&middot;&nbsp; &nbsp; &nbsp; &nbsp; Guest accommodation</p>

                                    <p class='para-content'>Apart from this, the hotel also permits external vendors on the premises in case you require some specific sort of decoration or catering service. The staff at Marbela is always ready to extend a helping hand in making sure that everything on your special day is executed in the way you have always wanted it to be.</p>


                                    <p class='para-content'>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mg-t-5 list-group border pd-10 position-relative">
                        <h4 class="tx-16 tx-semibold tx-color-777 tx-capitalize">Other Details</h4>
                        <div class="row mg-r-0 mg-l-0">
                            <div class="col-md-12 pd-l-1 pd-r-1 mg-b-10">
                                <h5 class="tx-14 tx-semibold tx-color-888 mg-b-1">Wedding Venue Type</h5>
                                <span class="tx-13 tx-color-777 mg-l-2 mg-r-2"><i class="fa fa-check rating-c-5"></i> Hotels</span><span class="tx-13 tx-color-777 mg-l-2 mg-r-2"><i class="fa fa-check rating-c-5"></i> Resorts</span>
                            </div>
                        </div>
                    </div>
                    <div class="mg-t-5 list-group border pd-10 position-relative">
                        <div class="content-faq-content" itemscope itemtype="https://schema.org/FAQPage">
                            <div class="content-faq-head mg-b-20">
                                <h2 class="tx-16 tx-bold tx-color-777 tx-capitalize">FAQs regarding Marbela Beach Resort </h2>
                            </div>
                            <div data-label="Example" class="df-example">
                                <div id="accordion1" class="accordion">
                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">Is there any other policies of the venue ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Ample Parking</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Fire Crackers Allowed</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Overnight Wedding Allowed</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Halls Are Air Conditioned</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Baarat Allowed</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Hawan Allowed</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">Is there any decor policy of Marbela Beach Resort  ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Outside Decorators Allowed</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Decor Provided By The Venue</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">Does Marbela Beach Resort  serves alcohol here ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Alcohol Allowed At The Venue</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Outside Alcohol Allowed At The Venue</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Corkage Costs Applicable</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">What are the taxes applicable here ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> 18.00%</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">Does Marbela Beach Resort  have parking ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Valet Provided By Venue</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">What are the spaces available at Marbela Beach Resort  ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Lawn</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Hall</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">What are the basic inclusion at Marbela Beach Resort  ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Basic Lighting</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Electricity & Backup</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Valet Parking</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Furniture</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Service Staff</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name"></h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Pre Wedding Functions: Engagement, Cocktail, Mehndi, Sangeet, Etc.</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Wedding Ceremonies</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Reception</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> 12:00 Am </span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">What are the food policies of Marbela Beach Resort  ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Food Provided By The Venues</span></span>
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Non-veg Allowed At The Venue</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">Are room accomodation available at Marbela Beach Resort  ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Accommodation Rooms Available</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">What are the cancellation policies of {#Vendor} ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> Non Cancellable</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">Does {#Vendor} takes money in advance ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> 50% At The Time Of Booking </span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">What time does Marbela Beach Resort  opens ?</h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> 7:00 Am To 12:00 Am</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                        <h6 class="accordion-title" itemprop="name">How many numbers of rooms are available at Marbela Beach Resort </h6>
                                        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <div itemprop="text">
                                                <span class="tx-14 tx-color-888 text-captialize lh-9 mg-r-10"><span class="tx-14 text-captialize lh-9 tx-color-888"><i class="fa fa-check rating-c-5"></i> 43</span></span>
                                            </div>
                                        </div>
                                    </div>


                                </div><!-- az-accordion -->
                            </div>





                        </div>
                    </div>

                </div>

                <div class="col-md-4 ht-350 pd-l-0 pd-r-0 " id="getWidth">
                    <div class="list-group border bg-white pd-20 rounded-10" id="yahiSe">
                        <div class="row border-bottom">
                            <div class="col-md-6 pd-l-5">
                                <h6 class="tx-14 tx-semibold tx-color-777">Pricing Details</h6>
                            </div>
                            <div class="col-md-6 pd-r-5">
                                <h6 class="tx-12 tx-semiboldi primary-color tx-right"><a href="#serviceDetails" data-target="serviceDetails">Check Services <i class="fa fa-angle-down"></i></a></h6>
                            </div>
                        </div>

                        <div class="row mg-t-5">
                            <div class="w-100 pd-l-10">
                                <div class="d-block mg-t-10">

                                    <div class="d-flex border-bottom pd-l-5 pd-r-5">
                                        <p class="tx-16 w-50 tx-color-444 tx-capitalize mg-b-0 tx-left">Price on Request</p>
                                        <p class="main-color tx-16 w-50 tx-right"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                    </div>
                                    <div class="d-flex border-bottom mg-t-10 pd-l-5 pd-r-5">
                                        <p class="tx-16 w-50 tx-color-444 tx-capitalize mg-b-0 tx-left">Price on Request</p>
                                        <p class="main-color tx-16 w-50 tx-right"><i class="fas fa-square" style="color:red"></i> Per Plate</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="mg-t-20 tx-center row">
                            <div class="col-md-4  main-color border-bottom ht-60">
                                <span class="tx-15 bd rounded-50 pd-10"><i class="fa fa-share"></i></span>
                                <p class="tx-12 mg-t-5 tx-color-777 tx-semibold">Share</p>
                            </div>
                            <div class="col-md-4 main-color border-bottom ht-60">
                                <span class="tx-15 bd rounded-50 pd-10"><i class="fa fa-heart"></i></span>
                                <p class="tx-12 mg-t-5 tx-color-777 tx-semibold">Shortlist</p>
                            </div>
                            <div class="col-md-4 main-color border-bottom ht-60">
                                <span class="tx-15 bd rounded-50 pd-10"><i class="fa fa-pencil"></i></span>
                                <p class="tx-12 mg-t-5 tx-color-777 tx-semibold">Write Review</p>

                            </div>

                        </div>
                        <div class="mg-t-20 tx-center row">
                            <div class="col-md-6 pd-l-2 pd-r-2">
                                <button class="tx-16 btn btn-block btn-primary tx-white mg-r-5 tx-bold off-canvas-menu" href="#offCanvas3"><i class="fa fa-rupee"></i> Get Quotation</button>
                            </div>
                            <div class="col-md-6 pd-l-2 pd-r-2">
                                <button class="tx-16 btn btn-block btn-success tx-white mg-l-5 tx-bold" href="#getQuote" data-toggle="modal" data-animation="effect-flip-vertical"><i class="fa fa-phone"></i> Call / Whatsapp </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mg-t-5">
        <div class="border list-group group position-relative" id="thisis">
            <div class="bg-white pd-20">
                <div class="">
                    <h2 class="tx-17 tx-semibold tx-color-777 tx-capitalize"><i class="fa fa-star rating-c-5"></i> 5.0 (0)  Reviews - Marbela Beach Resort </h2>
                </div>
                <div class="mg-t-20">
                    <div class="row">
                        <div class="col-md-5 border-right">
                            <div class="pd-5">
                                <div class="w-100 pd-l-5 pd-r-5">
                                    <h4 class="tx-16 lh-1 mg-b-0 tx-left tx-bold tx-color-777 text-capitalize">Marbela Beach Resort </h4>
                                    <span class="tx-14 tx-color-777 tx-left">Rating Distribution</span>
                                </div>
                                <div class="mg-t-20">
                                    <div class="w-100 d-block float-left mg-t-15">
                                        <span class="rating-value wd-10p float-left"><i class="fa fa-star rating-c-5"></i> 5</span>
                                        <div class="progress ht-4 mg-b-20 wd-60p float-left">
                                            <div class="progress-bar rating-5" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="rating-value wd-30p float-left"> 0 Reviews</span>
                                    </div>
                                    <div class="w-100 d-block float-left mg-t-15">
                                        <span class="rating-value wd-10p float-left"><i class="fa fa-star rating-c-4"></i> 4</span>
                                        <div class="progress ht-4 mg-b-20 wd-60p float-left">
                                            <div class="progress-bar rating-4" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="rating-value wd-30p float-left"> 0 Reviews</span>
                                    </div>
                                    <div class="w-100 d-block float-left mg-t-15">
                                        <span class="rating-value wd-10p float-left"><i class="fa fa-star rating-c-3"></i> 3</span>
                                        <div class="progress ht-4 mg-b-20 wd-60p float-left">
                                            <div class="progress-bar rating-3" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="rating-value wd-30p float-left "> 0 Reviews</span>
                                    </div>
                                    <div class="w-100 d-block float-left mg-t-15">
                                        <span class="rating-value wd-10p float-left"><i class="fa fa-star rating-c-2"></i> 2</span>
                                        <div class="progress ht-4 mg-b-20 wd-60p float-left">
                                            <div class="progress-bar rating-2" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="rating-value wd-30p float-left"> 0 Reviews</span>
                                    </div>
                                    <div class="w-100 d-block float-left mg-t-15">
                                        <span class="rating-value wd-10p float-left"><i class="fa fa-star rating-c-1"></i> 1</span>
                                        <div class="progress ht-4 mg-b-20 wd-60p float-left">
                                            <div class="progress-bar rating-1" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="rating-value wd-30p float-left"> 0 Reviews</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class=""><h5 class="tx-16 tx-bold tx-color-777">Rate Marbela Beach Resort </h5></div>
                            <div class="acidjs-rating-stars mg-t-20">
                                <div class="review-group">
                                    <div class="review-square" id="review-1"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-2"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-3"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-4"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-5"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-6"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-7"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-8"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-9"><i class="fa fa-square"></i></div>
                                    <div class="review-square" id="review-10"><i class="fa fa-square"></i></div>
                                    <p id="ratingValue">
                                    </p>
                                    <p id="ratingValues">
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" value="0" name="ratingValue" id="rateValue" />
                                </div>
                                <div class="form-group">
                                    <textarea name="reviews" href="#userLoginModal" data-toggle="modal" class="form-control border" cols="50" rows="6" placeholder="Enter your review"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" href="#userLoginModal" data-toggle="modal">POST REVIEW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="">
                    <div class="border-top ">
                        <span class="tx-13 mg-t-30 tx-bold tx-color-777"> No reviews yet now !!</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class=" group bg-white">
        <div class=""><h2 class="tx-20 tx-bold tx-color-777 tx-capitalize">Similar Wedding Venues at Goa</h2></div>
        <div class="mg-t-20">
            <div class="col-md-12 pd-r-0 pd-l-0">
                <div class="row">

                    <div class="col-md-3">
                        <div class="card box-shadow mg-b-30">
                            <div class="img-area">
                                <a href="doubletree-by-hilton-goa-panaji-panaji/index.html" target="_blank">
                                    <img src="~/image/Services/Venue/26.jpg"  class="img-fit-cover ht-180" alt="DoubleTree by Hilton Goa,Panaji" title="DoubleTree by Hilton Goa,Panaji" />
                                </a>
                            </div>
                            <div class="pd-10">
                                <a href="doubletree-by-hilton-goa-panaji-panaji/index.html" target="_blank">
                                    <div class="w-100 float-left b-bottom-dashed">
                                        <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">DoubleTree by Hilton Goa,Panaji</h4>
                                        <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i> Goa</p>
                                    </div>
                                    <div class="wd-70p float-left  pd-t-10">
                                        <div class="">
                                            <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 1800</p>
                                            <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                        </div>
                                    </div>
                                    <div class="wd-30p float-right pd-t-10">
                                        <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">5.0000</p>
                                        <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">1 reviews</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card box-shadow mg-b-30">
                            <div class="img-area">
                                <a href="royal-orchid-beach---resort---spa--goa/index.html" target="_blank">
                                    <img src="~/image/Services/Venue/29.jpg"  class="img-fit-cover ht-180" alt="Royal Orchid Beach , Resort & Spa " title="Royal Orchid Beach , Resort & Spa " />
                                </a>
                            </div>
                            <div class="pd-10">
                                <a href="royal-orchid-beach---resort---spa--goa/index.html" target="_blank">
                                    <div class="w-100 float-left b-bottom-dashed">
                                        <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Royal Orchid Beach , Resort & Spa </h4>
                                        <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i> Goa</p>
                                    </div>
                                    <div class="wd-70p float-left  pd-t-10">
                                        <div class="">
                                            <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                            <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                        </div>
                                    </div>
                                    <div class="wd-30p float-right pd-t-10">
                                        <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.9</p>
                                        <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0 reviews</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card box-shadow mg-b-30">
                            <div class="img-area">
                                <a href="prainha-resort-by-the-sea--dona-paula--goa--dona-paula/index.html" target="_blank">
                                    <img src="~/image/Services/Venue/4.jpg" class="img-fit-cover ht-180" alt="Prainha Resort By The Sea, Dona Paula, Goa" title="Prainha Resort By The Sea, Dona Paula, Goa" />
                                </a>
                            </div>
                            <div class="pd-10">
                                <a href="prainha-resort-by-the-sea--dona-paula--goa--dona-paula/index.html" target="_blank">
                                    <div class="w-100 float-left b-bottom-dashed">
                                        <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Prainha Resort By The Sea, Dona Paula, Goa</h4>
                                        <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i> Goa</p>
                                    </div>
                                    <div class="wd-70p float-left  pd-t-10">
                                        <div class="">
                                            <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5">Price on Request</p>
                                            <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                        </div>
                                    </div>
                                    <div class="wd-30p float-right pd-t-10">
                                        <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.9</p>
                                        <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0 reviews</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card box-shadow mg-b-30">
                            <div class="img-area">
                                <a href="clube-tennis-de-gaspar-dias--miramar--goa-panaji/index.html" target="_blank">
                                    <img src="~/image/Services/Venue/24.jpg"  class="img-fit-cover ht-180" alt="Clube Tennis De Gaspar Dias, Miramar, Goa" title="Clube Tennis De Gaspar Dias, Miramar, Goa" />
                                </a>
                            </div>
                            <div class="pd-10">
                                <a href="clube-tennis-de-gaspar-dias--miramar--goa-panaji/index.html" target="_blank">
                                    <div class="w-100 float-left b-bottom-dashed">
                                        <h4 class="tx-16 tx-gray-400 tx-bold tx-capitalize lh-1 mg-b-5">Clube Tennis De Gaspar Dias, Miramar, Goa</h4>
                                        <p class="tx-14 tx-gray-600 tx-bold tx-capitalize lh-1 mg-b-5"><i class="fa fa-map-marker"></i> Goa</p>
                                    </div>
                                    <div class="wd-70p float-left  pd-t-10">
                                        <div class="">
                                            <p class="tx-14 tx-color-01 tx-bold lh-1 mg-b-5"><i class="fas fa-rupee"></i> 450</p>
                                            <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10"><i class="fas fa-square tx-color-03"></i> Per Plate</p>
                                        </div>
                                    </div>
                                    <div class="wd-30p float-right pd-t-10">
                                        <p class="tx-14 tx-white tx-bold lh--6 mg-b-5 rating-5 pd-t-10 pd-b-10 pd-r-5 pd-l-5  tx-center pd-t-10 rounded-5">4.9</p>
                                        <p class="tx-13 tx-color-02 tx-medium lh--6 mg-b-10 tx-center">0 reviews</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


